[2018-05-28 22:13] KatelinDeSerano opened #11 "Terraform Download Issue"
I receive this error - "Unable to remove symlink. You must have SUDO privileges" when attempting to download a version of terraform.  I have tried running "sudo tfswitch",  and still received the same error.

[2018-05-28 22:47] warrensbox opened #15 "Improve documentation"
Need to write "Upgrade tfswitch" in additional info page..

[2018-05-30 18:22] ajjl opened #16 "Add a help page"
There should be a help page or a man page for this or something

[2018-05-30 18:23] ajjl opened #17 "Allow versions to be supplied on command line"
Sometimes I don't want to go through a menu and scroll through _all_ the versions, I just want to do `tfswitch 0.11.4` or something, and save myself those precious seconds.

[2018-05-30 18:24] ajjl opened #18 "Terragrunt support"
Can we get terragrunt support?

[2018-06-23 22:31] #16 closed

[2018-07-03 02:23] warrensbox commented on #18
- Added terragrunt support as a separate binary because the source is from different locations (terraform vs terragrunt)
- Also, it would be easier to maintain as a separate project

Please contribute and get terragrunt support here:
https://github.com/warrensbox/terragrunt-switcher

[2018-07-03 02:23] #18 closed

[2018-10-24 20:54] #17 closed

[2018-10-25 14:35] warrensbox commented on #15
Added more docs on readme

[2018-10-25 14:35] #15 closed

[2018-11-14 14:56] ajjl opened #33 "Permissions Issues on linux"
After installing with `curl <script localtion> | sudo bash` I cannot actually do a `tfswitch`, I get the error:
[code]
running `sudo tfswitch` does work, but results in a terraform that is only available to the root user, which is undesirable.

Os version: ubuntu 18.something

Thanks!

[2019-02-11 10:18] apr-1985 commented on #33
Also seeing this on Mac High Sierra when installed via homebrew
`✔ 0.11.7
Downloading https://releases.hashicorp.com/terraform/0.11.7/terraform_0.11.7_darwin_amd64.zip to terraform_0.11.7_darwin_amd64.zip
Downloading ...
17754416 bytes downloaded.
2019/02/11 10:14:25 Unable to create symlink. You must have SUDO privileges`

[2019-04-08 23:32] warrensbox commented on #33
I have updated the symlink error message to be more intuitive. The previous error message was misleading. Merge request #38 :

[code]

@ajjl requested a feature to allow users without admin privilege to install tfswitch. This feature is still not supported at the moment. However, please feel free to contribute and open a merge request to add this feature.

[2019-04-09 18:30] bezerker commented on #33
I'd suggest having tfswitch just install the terraform binaries into the directory that you specify with -b.  I keep mine in /home/$USER/bin and put that in my path. Be great if this worked with that. This is kind of broken on linux otherwise

[2019-04-30 19:57] devorbitus opened #39 "Support for Terraform Beta installs"
I understand you may want to keep the version list as clean as possible but it would be nice if you supported an override or something to be able to install the beta version of Terraform like https://releases.hashicorp.com/terraform/0.12.0-beta2/terraform_0.12.0-beta2_darwin_amd64.zip

[2019-05-13 22:38] warrensbox commented on #39
I will look at the code tonight

[2019-05-16 04:29] warrensbox commented on #39
This a useful feature, especially if a user wants to test out a terraform beta release version.
A couple of developers suggested that we pass a parameter to list all the version (including betas). The default, however, will only show the official release.

For example:-
The default `tfswitch` will display:
[code]
The optional arg  `tfswitch --list-all` or `tfswitch -l` will display all versions in

[2019-05-17 04:44] warrensbox commented on #39
@devorbitus
Would you be able test the changes before I release it?

Steps:
1. git checkout develop (your changes are merged to develop)
2. `go build -v -o tfswitch`
3. `./tfswitch 0.12.0-rc1` then `terraform -v` to verify
4. `./tfswitch -l` or `./tfswitch --list-all` - verify if it list all the versions

[2019-05-17 14:00] devorbitus commented on #39
@warrensbox Tested it as well as looked over the code and it looks good to me.

[2019-05-17 14:03] devorbitus commented on #39
You may want to make some reference to the new feature on the [documentation page](https://warrensbox.github.io/terraform-switcher)

[2019-05-25 21:33] warrensbox commented on #39
I have released this feature with #45

It should install any version except for:
* 0.12.0-alpha4
* 0.12.0-alpha3

That's because the file was named incorrectly on the hashicorp release page.

For example, the file for `0.12.0-alpha2` looks like below:
<img width="469" alt="Screen Shot 2019-05-20 at 9 46 34 PM" src="https://user-images.githubusercontent.com/38867521/58374808-483f0180-7f0a-11e9-9c00

[2019-05-25 21:33] #39 closed

[2019-06-04 09:45] evansj commented on #33
I'm also having issues on Mac because (due to company rules ☹️) my main user account isn't an admin account. It would be great if I could configure it to use `~/bin/terraform` instead of `/usr/local/bin/terraform`. Better still if it could read its config from something like `~/.tfswitch.conf` so I could set the directory in there instead of passing a command line argument every time.

[2019-06-04 10:10] MichaelSmyth0184 commented on #33
I just gave my current user owner on the /usr/local/bin folder and worked like magic.

`sudo chown -R $USER /usr/local/bin`

Might not be great from a security perspective, but works none the less.

[2019-06-04 10:13] evansj commented on #33
@MichaelSmyth0184 that would work great. Unfortunately I can't do that, due to the aforementioned company rules...

[2019-06-04 10:16] MichaelSmyth0184 commented on #33
@evansj Yeah I guess having sudo permissions is a luxery at some companies...

Have you tried downloading from source and modifying destination folder to something you have ownership over? Shouldn't be too difficult I would imagine.

[2019-06-04 10:17] evansj commented on #33
@MichaelSmyth0184 I intend to do that, and hopefully create a PR

[2019-06-05 04:18] warrensbox commented on #33
@evansj @ajjl
I released a pre-released version with the option to install `tfswitch` to a user specifed directory.

You can download the pre-release version here (based on your OS): https://github.com/warrensbox/terraform-switcher/releases/tag/0.7.0
1.  Create bin path directory. Ex: `mkdir /Users/warrenveerasingam/bin`
2. Add custom bin path to PATH env: `export PATH=$PATH:/Users/warrenveerasing

[2019-06-05 15:30] evansj commented on #33
@warrensbox I've been using the pre-release version today and it works perfectly - thanks!

[2019-06-10 20:13] warrensbox commented on #33
Released : 0.7.737
https://github.com/warrensbox/terraform-switcher/releases/tag/0.7.737
Features:
Option to use -b parameter to specify custom terraform installtion location:
`tfswitch -b /Users/warrenveerasingam/bin/terraform 0.10.8`
Option to use `.tfswitch.toml` file. For example:
[code]
After that, you can simply run `tfswitch` and it should automatically update your terraform version accordi

[2019-06-20 12:31] scottsb opened #50 "Difference from tfenv?"
This tool seems almost identical in purpose & functionality to this:
https://github.com/tfutils/tfenv

Are there any distinctive advantages this provides? A comparison section in the README describing this would be helpful.

[2019-07-03 19:15] solsglasses commented on #50
I came with the exact same question

[2019-10-25 01:34] weyderfs commented on #33
Guys I fixed here adding sudo after |
`url -L https://raw.githubusercontent.com/warrensbox/terraform-switcher/release/install.sh | sudo bash`
But to use _tfswitch_ and Terraform I needed continuous using SUDO
`sudo tfswtich`
`sudo terraform`

But works here

Ubuntu 18.04.3 LTS \n \l

[2019-10-28 06:30] jiraguha opened #53 "Listing terraform versions makes terraform bin unavailable"
Hello,

I have just started to use the switcher (**v0.7.737**).  It is a great tool :-).

But when you list terraform versions with
[code]
You entre in an interactive mode where you had to choose a version of Terraform. It is no really the behavior waited from an api documented as a "list." The less convenient aspect is that if you do not choose any version and you enter in another terminal sessio

[2019-10-31 15:19] rblumen-desk opened #55 "tfswitch --help or --version can not run unless you have write access to /usr/local/bin/terraform"
If /usr/local/bin/terraform exists (does not have to be in your PATH) and you do not have write access to the directory or file, then you can not run even commands that arguably should be non-destructive - e.g. tfswitch --help.

This is due to the lib.init() method which tries to unlink that path and runs before the command arguments are processed.   I think that there should be a way to override

[2019-11-04 21:34] sigkill opened #56 "ARM support?"
Interested in running from ARM hardware, but it looks like it's not possible at this time.

Any chance you'll be releasing a version with ARM support?

[2019-11-07 12:10] evansj commented on #55
I think this bug also hits you if you use a custom bin path.

[code]

I'm not even sure how that final invocation of `tfswitch` even knows about the custom bin path because I don't have a `.tfswitchrc` or `.tfswitch.toml`.

[2019-11-07 20:55] Shafkat-ali opened #57 "facing the following error while installing using brew install *****"
`Cannot install warrensbox/tap/tfswitch because conflicting formulae are installed.
  terraform`

[2019-11-14 21:55] warrensbox commented on #57
@Shafkat-ali can you try `brew unlink terraform` and try again?

[2019-11-20 12:24] Nornode opened #58 "No new versions of terraform - Stuck at 0.12.8"
I'm trying to update to a newer version of Terraform but I'm unable to get an updated list.
I have tried to reinstall, removed and made a cleanup still I can only access 0.12.8 as newes version.
Same result with `tfswitch -l`
[code]
Versions:
[code]

[2019-11-20 12:28] Nornode commented on #58
Never mind!
- It downloads the new version if it's specified with:
e.g. `tfswitch 0.12.16`
All good now!

[2019-11-20 17:55] warrensbox commented on #58
@Nornode
If you scroll down with your "down" ↓ key on your keyboard, you will see version 0.12.16 on your screen.
[code]
are the top 3 recent versions of terraform that you have used. It will show up at the top of the list with the word `*recent` next to it.

To see the rest of the available version, simply hit the  "down" ↓ key on your keyboard until you see the version you want. See the video po

[2019-11-20 17:55] #58 closed

[2019-11-20 18:58] warrensbox commented on #57
@Shafkat-ali let me know if that does fix it. Please and thank you!

[2019-11-20 18:58] #57 closed

[2019-12-04 15:29] moutons opened #60 "Add support for `.terraform-version` file"
Right now, the `tfswitch` tool uses files which by their name are specifically for tfswitch. This is great. However, it would be also great if `tfswitch` supported the `.terraform-version` file which can be used with the `tfenv` tool: https://github.com/tfutils/tfenv#terraform-version-file

That's it. That's the Issue.

[2020-01-19 22:54] nhoughto commented on #50
We didn't get to the bottom of this, but we just switched from tfenv to tfswitch because we saw strange high cpu behaviour using tfenv. It appears to wrap the terraform process at runtime, not just switch a symlink to the straight tf binary, and that wrapping process was pinning a CPU at 100%. 🤷‍♂

[2020-02-19 16:28] mickmorseMB commented on #33
Just create an alias in your bashrc called tfs

alias tfs="tfswitch -b /home/user/bin"

that way your custom directory alwats persists.

[2020-02-27 22:50] anders-s opened #66 "Ctrl-C Interrupt Breaks `terraform` executable."
MacOS Mojave 10.14.6, `tfswitch Version: 0.7.737`

`ctrl-c` signaling while in the `tfswitch` versions menu will result in no terraform executable being linked to the system wide `terraform` command.

[code]

[2020-03-02 22:33] warrensbox commented on #66
I see the issue. I will try to fix this by this week @anders-s

[2020-03-03 04:09] #60 closed

[2020-03-06 22:26] warrensbox commented on #66
Fixed with #68
`brew upgrade warrensbox/tap/tfswitch` to get the latest version

[2020-03-06 22:26] #66 closed

[2020-03-06 22:27] warrensbox commented on #55
@evansj you need to create the `~/bin/terraform` prior to setting that path as your bin directory. I have included an error message to help users int the future. Thanks for bringing this up!

[2020-03-06 22:28] warrensbox commented on #55
@rblumen-desk
Fixed with #68
`brew upgrade warrensbox/tap/tfswitch` to get the latest version

[2020-03-06 22:28] #55 closed

[2020-03-06 22:29] warrensbox commented on #53
@jiraguha
Fixed with #68
`brew upgrade warrensbox/tap/tfswitch` to get the latest version

[2020-03-06 22:29] #53 closed

[2020-03-27 12:12] kpucynski opened #69 "Add versions.tf support"
For now TF version to switch can be automatically taken from `.tfswitchrc` or `.terraform-version` files.
In the meantime `versions.tf` file became de facto standard for  TF version control.
It would be very useful to use already existing `required_version` from terraform code instead of duplicating this info in separate file(s).

[2020-03-30 09:14] amine250 opened #70 "Add possibility to delete a terraform version"
Hi,

I think it would be proper to have a command line option to delete a terraform version rather than have to delete it from the filesystem.

Amine.

[2020-03-30 16:34] warrensbox commented on #69
I will look at this today

[2020-03-30 21:39] warrensbox commented on #69
@kinowarrior Does your versions.tf look something like this:
[code]

[2020-03-31 04:22] warrensbox commented on #50
`tfswitch` was initially created to resolve issues that were not possible with tfenv. It was an internal tool at my company which later I open-sourced it.  I picked `golang` as the language of choice since it's easy to understand/code/contribute compared to bash. It was also easier to cross-compile for different OS and ARCH. When I first started using tfenv, a couple of years ago, it didn't provid

[2020-03-31 04:22] #50 closed

[2020-03-31 04:23] #33 closed

[2020-03-31 19:47] dcl opened #71 "Add support for reading global configuration files"
Currently, `.tfswitch.toml` (and the backwards-compatible `.tfswitchrc`) is read only from the current working directory. This is useless for most practical applications.

To resolve this, the application should read options from `~/.tfswitch.toml` when those options are not present in a `.tfswitch.toml` file in the current directory.

[2020-04-03 09:34] kpucynski commented on #69
I've created PR with code that checks *.tf for required version and uses it if found.

[2020-04-09 16:00] jjorissen52 opened #73 "Documentation Adjustment: Support symlinks to .tfswitchrc in `cdtfswitch()`"
Hi there, great tool you've made here. I would just like to suggest changing the example switching bash function:

[code]

[2020-04-16 17:51] warrensbox commented on #69
Not released yet. I am still testing the changes.

[2020-04-16 22:37] #73 closed

[2020-04-16 23:40] warrensbox commented on #69
### Use version.tf file
If a .tf file with the terraform constrain is included in the current directory, it should automatically download or switch to that terraform version. For example, the following should automatically switch terraform to version `0.12.24`:
[code]
<img src="https://s3.us-east-2.amazonaws.com/kepler-images/warrensbox/tfswitch/versiontf.gif" alt="drawing" style="width: 170px;"/>

[2020-04-16 23:45] warrensbox commented on #69
@kpucynski your changes are released. You can upgrade with:
Homebrew - `brew upgrade warrensbox/tap/tfswitch `.
Other linux systems - `curl -L https://raw.githubusercontent.com/warrensbox/terraform-switcher/release/install.sh | bash
`

Thank you for contributing!

[2020-04-16 23:45] #69 closed

[2020-04-17 07:29] kpucynski commented on #69
@warrensbox thanks! :)

[2020-04-20 17:52] odbaeu commented on #71
`.tfswitch.toml` from the local directory should have a higher priority than `~/.tfswitch.toml`.

[2020-04-20 19:09] warrensbox commented on #71
Let's say you have **multiple projects** with **different terraform versions for each project**, you can specify each terraform version in it's local/current directory.
[code]
If you want `~/.tfswitch.toml` in the home directory `~`, how do you manage the different versions of terraform for each project?
Are you only using one terraform version for all your project(s)?
@odbaeu @dcl can you please

[2020-04-22 12:09] odbaeu commented on #71
Thank you so much for your quick reaction!

I try to keep most of my terraform projects on one version. That's why I think this is a good feature request. But I absolutely agree that it is best practice to have one `.tfswitch.toml` in each terraform project. This helps other team members to use the correct terraform version.

But back to the feature request: Let’s say I have the following structur

[2020-04-23 11:41] odbaeu opened #79 "Default terraform path"
Hello!
thank you for this awesome tool!

I struggled a bit with the default terraform path. I don't want to place it in` /usr/local/bin/terraform` and I don't want to add `-b` or `--path` for each call. My first try was `.tfswitch.toml` which solved this problem. But I also want to use `version.tf`. I don't want to use both `version.tf` and `.tfswitch.toml` to avoid changing the current version in

[2020-05-17 18:30] jurrehart commented on #71
I would expand on that and would like to see the following path for version identification stopping at the first match
1) look for required_version in the .TF files
2) look for .tfswitch.toml in current work directory
3) look for .tfswitch.toml in users home directory

[2020-05-20 16:26] drdamour commented on #79
/usr/local/bin is hard for us in the ubuntu crowd

[2020-05-20 16:38] drdamour commented on #79
another option is to put tf not to /usr/local/bin but to wherever tfswitch is by default, since i put tfswitch in ~/bin for the same reason

[2020-05-27 12:59] timkrueger opened #80 "Please respect XDG spec for config storage"
The XDG spec defines where config and cache files should be placed.

https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

Instead of writing to `$HOME`, the terraform switcher config directory should be `$XDG_CONFIG_HOME/tfswitch`. And the correct location for different terraform versions should be `$XDG_CACHE_HOME/tfswitch`.

[2020-06-01 19:44] warrensbox commented on #80
I can implement this logic for the next release:
`If $XDG_CONFIG_HOME is either not set or empty, a default equal to $HOME/.config should be used.`

[2020-06-02 07:56] timkrueger commented on #80
@warrensbox Sounds good.

Only `$XDG_CONFIG_HOME` or also `$XDG_CACHE_HOME`? E.g.:

[code]

Currently the different Terraform versions are stored like that on macOS:

[code]

[2020-06-12 07:35] jontyq opened #81 "Support mirrors eg Artifactory"
For those trapped behind a corporate firewall, we often need to mirror in external resources.

One way to do this is to use a tool like Nexus or Artifactory.

It would be good feature to support the ability to point to a mirror, rather than directly to Hashicorp's releases page.

[2020-06-12 07:39] jontyq commented on #81
I have a locally patched tfswitch that works with our Artifactory install (hardcoded)

Changes needed to work:
1.  patching of the hashiURL (in two spots. :-( )
2. patching the version regex to suck out versions, as Artifactory renders the page differently to Hashicorp (and corresponding strip regex).

That is MVP to get it working.

[2020-06-12 07:45] jontyq commented on #81
There is another wrinkle with tools like Nexus / Artifactory - they are not full mirrors, but rather _cache on request_ .
The impact is that `tfswitch` only reports available versions as those which have  _already_ been requested via Artifactory.

Indeed, even specifying a specific version to install doesn't work _if not already cached_, as tfswitch first checks versions before trying to download

[2020-07-01 10:25] mickmorseMB opened #82 "tfswitch slow when switching terraform version"
I am running WSL 2 on a debian distro and tfswitch seems to be slower than any normal linux OS. No doubt it's something to do with WSL but can you shed some light on what is happening here?

Cheers

Mick.

[2020-07-02 11:55] mariuszkopowski opened #83 "Install issue"
when installing via CURL on Ubuntu 20 or Centos 7
curl -L https://raw.githubusercontent.com/warrensbox/terraform-switcher/release/install.sh | bash

I get fallowing info
install: cannot create regular file '/usr/local/bin/tfswitch': Permission denied

Docent mother is i'm running this with sudo or not.

[2020-07-03 09:11] mickmorseMB commented on #83
I needed to run sudo bash instead/aswell, so:

`sudo curl -L https://raw.githubusercontent.com/warrensbox/terraform-switcher/release/install.sh | sudo bash`

[2020-07-15 12:14] uditamar opened #84 "add switch load latest [stable]"
1. great tool!
2. as the tf and tg switch are continuing their release
please set a flag such `tfswitch --latest` the will auto change to latest stable

[2020-07-17 08:17] mickmorseMB commented on #82
@warrensbox any update on this?

Mick

[2020-07-17 14:12] warrensbox commented on #83
@mariuszkopowski
Can you try:
[code]

[2020-07-20 11:06] mickmorseMB commented on #82
@warrensbox any update on this?

Mick

[2020-07-24 09:53] #82 closed

[2020-08-13 22:49] EnriqueWood opened #86 "Support for linux/arm64"
Following the instructions in
warrensbox/terraform-switcher crit platform linux/arm64 is not supported.  Make sure this script is up-to-date and file request at https://github.com/warrensbox/terraform-switcher/issues/new
Please support this platform, it'd be real nice!

[2020-08-14 17:03] #83 closed

[2020-08-14 17:08] warrensbox opened #87 "Refactor code to use go mods"
Refactor code to use go mods  instead of godep

[2020-08-14 17:43] warrensbox opened #88 "Redesign documentation page (website)"
Add new domain - tfswitch.warrensbox.com

[2020-08-14 17:47] warrensbox opened #89 "Create better documentation on how to contribute code"
- Add step by step tutorial on how to contribute to tfswitch
- add standards (including frame size for demo gifs)
- put up note : "Not all code that is merged  to master will be released"

[2020-08-14 19:11] warrensbox commented on #88
- [ ] Redo gifs with standard size

- [ ] delete sample-tfswtich repo

- [ ] update url

- [ ] update how to contribute page

[2020-08-14 19:13] warrensbox opened #90 "Add snapcraft installation option"
Add snapcraft installation option

[2020-08-18 04:59] warrensbox commented on #81
@jontyq would you be able to share your patch in a separate branch? I would like to look at the patch you made in order in use a local mirror.

https://tfswitch.warrensbox.com/How-to-Contribute/

[2020-09-02 15:12] versus commented on #90
Try it:

`name: tfswitch
version: git
summary: A command line tool to switch between different versions of terraform
description: |
  The `tfswitch` command line tool lets you switch between different versions of terraform(https://www.terraform.io/).
  If you do not have a particular version of terraform installed, `tfswitch` will download the version you desire.
  The installation is minimal and

[2020-09-02 16:01] versus commented on #90
https://pastebin.com/dMwvqL81

[2020-09-02 16:11] versus commented on #90
snap install snapcraft --classic

snap install multipass

snapcraft

snap install tfswitch_*.snap --devmode --dangerous

tfswitch -v

multipass stop snapcraft-tfswitch && multipass delete snapcraft-tfswitch && multipass purge

[2020-09-15 18:41] BernhardLenz opened #101 "How to add additional tf version to tfswitch"
On my MacOs I have tf 13 installed (using brew) and then installed tfswitch (using brew).
Now i'd like to install tf 12 and have it switched with tfswitch but can't find any documentation on how to add tf12 to tfswitch.

The output of the tfswitch command is
[code]

[2020-09-15 18:47] danfsd opened #102 "Cannot Install on Ubuntu 20.x "permission denied""
I can't install TFSwitch on my Ubuntu Budgie 20.x system because of a permission error

[code]

This is the error:

[code]

Tried installing using sudo but nothing changes.

[2020-09-15 21:53] gbirman opened #103 "Linux installation command fails silently during certificate validation"
The curl commands in the `http_download_curl` method of the `install.sh` script will cause the entire script to fail without displaying any errors should they arise.

[2020-09-17 21:18] warrensbox commented on #101
@BernhardLenz in your directory, in your terraform file, you probably have this line:
[code]

With `tfswitch`, it automatically gets any version that is *higher than or equals* (>=) to `0.12.9`. In your case, it got the latest version which is `0.13.2`
I suggest you refactor that line to the version`~> 0.12.0`(pessimistic lock) . This will only get you the latest 0.12 version. Your terraform file

[2020-09-17 21:46] warrensbox commented on #102
I am assuming you do not have permission to install `tfswitch` at this location `/usr/local/bin/`.
I would suggest that you create a path that you have access to. For example, your home path:

Can you try these steps:
1. Get the installer on to your machine:
`wget https://raw.githubusercontent.com/warrensbox/terraform-switcher/release/install.sh`
2. Make installer executable:
`chmod 755 install.sh

[2020-09-17 22:11] warrensbox commented on #103
Here is the definition of the function:
[code]
And it is called here:
[code]
https://github.com/warrensbox/terraform-switcher/blob/5bc18b7ec21c1c9e7ff448bc78960436d630c2c9/install.sh#L266
I am not sure how to fix this. Any help from the community would be highly appreciated!

[2020-09-18 18:00] warrensbox commented on #90
@versus

Thank you for your suggestion. I used your yaml file as a reference.
Would you please verify this works?
`snap install --edge tfswitch`

[![Get it from the Snap Store](https://snapcraft.io/static/images/badges/en/snap-store-black.svg)](https://snapcraft.io/tfswitch)

[2020-09-19 15:35] #87 closed

[2020-09-21 13:17] danfsd commented on #102
Hey @warrensbox, I've followed your steps and it's working now! Thanks :tada:

[2020-09-24 01:15] #88 closed

[2020-09-29 03:30] alok15ee commented on #33
Thanks, This works for mac!!

[2020-10-06 14:12] fdamstra commented on #71
I would add that if you're doing hierarchical modules, it would be really nice for it to search parent directories. My company's code is organized in terragrunt fashion, like:

[code]

And then repeat for project B and so forth. It would be extremely useful to look for the .tfswitch.toml in the present directory, then work up the parent directories until either we're in ~ or /.

This would let me

[2020-10-08 17:31] siran commented on #82
same here, very slow for such a simple script. something wrong must be happening.

[2020-10-19 09:56] hongkongkiwi opened #109 "Alpine linux compatible version"
Installer does not install a correct version for alpine linux.

Alpine linux does not support musl and therefore needs a different compilation target.

Here's a simple docker to build it on alpine:
[code]

[2020-10-19 10:25] hongkongkiwi opened #110 "Add flag to download latest terraform version"
It would be great if I could pass --latest to just download the latest terraform version.

I'm using this in a docker container so having a handy flag would be great, right now I've gotta do an external github lookup to terraform to get the latest version number then pass that into tfswitch.

[2020-10-24 14:50] marcellodesales opened #111 "tfswitch list is very intrusive... Shouldn't trigger download of latest"
# tfswitch triggers download

* I just wanted to list all the versions currently installed without any downloads
* The switch verified that there's a new version and automatically downloaded without me asking

[code]

# Feature Request

* WIthout knowing the versions can break, I think this could avoid switching to new versions until asked

[code]

* Maybe use a fetch

[code]

* I know I can chang

[2020-10-27 02:29] warrensbox commented on #111
This is a bug. I will look at this.

[2020-10-31 02:19] #90 closed

[2020-11-01 19:15] ScubaDrew opened #112 "Error while creating /home/drew/.terraform.versions/terraform_0.13.5_linux_amd64.zip - permission denied"
Not sure why it cannot create this file. The permissions seem fine.

[code]

[2020-11-10 22:32] #89 closed

[2020-11-10 22:34] #101 closed

[2020-11-13 01:55] #70 closed

[2020-11-13 01:55] #79 closed

[2020-11-13 01:55] #111 closed

[2020-11-13 02:25] warrensbox commented on #112
You might have permission issues. can you try using a `toml` file or the `-b` option?
https://github.com/warrensbox/terraform-switcher#use-tfswitchtoml-file--for-non-admin---users-with-limited-privilege-on-their-computers

[2020-11-13 02:26] warrensbox commented on #112
See if this helps too:
https://github.com/warrensbox/terraform-switcher/issues/102

[2020-11-13 02:26] #102 closed

[2020-11-13 02:27] #103 closed

[2020-11-13 02:31] warrensbox commented on #71
will release soon with : https://github.com/warrensbox/terraform-switcher/pull/113

[2020-11-13 02:31] #71 closed

[2020-11-13 14:07] pkolyvas commented on #56
For some additional context, Terraform itself is released in two ARM flavours for linux only (32bit and 64bit). We expect to begin evaluating darwin ARM support (OS X) once Go supports it. Just FYI.

[2020-11-15 03:02] ScubaDrew commented on #112
I blew away the whole installation. I've got it working on another machine now though. Thanks.

[2020-11-15 03:02] #112 closed

[2020-11-21 19:20] boonchu opened #116 "Brew Upgrade issue on MacOS 11"
Please help to investigate. I got this issue after OS upgrade to Big Sur.

[code]

[2020-11-21 19:29] boonchu commented on #116
tfswitch looks fine to me. Something might be wrong in brew package installer. I have the workaround for time being:

[code]

[2020-11-30 19:13] warrensbox commented on #116
@boonchu yeah I guess the brew package installer has issues with the latest OS (Big Sur 11.0.1). I hope either the developers managing brew or the Mac OS team comes up with a remedy. I have not tested tfswtich on MacOS 11.X.X.

[2020-12-07 14:25] strowk opened #117 "snap package cannot use "~/.terraform.version" and "/usr/local/bin""
I've installed package from snap and running `tfswitch -b $HOME/bin` , it gives me
[code]
Running just `tfswitch --latest` complains about `/usr/local/bin` directory . Both places are not available from usual snap packages.

[2020-12-07 19:39] skyzyx commented on #109
s/musl/glibc/

[2020-12-07 19:58] skyzyx opened #118 "Supporting latest implicit version"
**Context:**

My team develops Terraform modules, and we want to test against certain major versions of Terraform (e.g., 0.12, 0.13, 0.14).

We've been using `tfswitch` to help automatically install the right version of Terraform for deployments, etc., but it's been more challenging to use it for things like 0.12.latest, or 0.13.latest.

**Request:**

If would be handy to be able to support **impl

[2020-12-09 11:33] boxrick opened #119 "Support setting environment variable - current version"
I would like to be able to set at the prompt using ZSH what version of Terraform is currently 'set'. Rather than capturing the output of terraform --version which is slow and cannot sensibly be done every line. It feels like it would be useful for when we use tfswitch to then set an ENV variable which is set to the current working version of Terraform.

Thoughts?

[2020-12-10 17:12] grimm26 opened #120 "Take explicit version given to CLI as highest priority"
If I run tfswitch in a directory with a `versions.tf` file in it, tfswitch ignores the argument that I give it and only cares about the info in the `versions.tf` file.

[code]

This seems to only be the case when you have a `~/.tfswitch.toml`

[2020-12-10 20:45] warrensbox commented on #119
@boxrick something like this?
//user set TF version
export TF=0.13.0

//if the $TF environment variable is set,  users would be able to simply run `tfswitch` command to switch to their desired terraform version?
tfswitch

[2020-12-10 20:54] warrensbox commented on #117
1. Are you running `tfswitch -b $HOME/bin/terraform` or `tfswitch -b $HOME/bin` ?
2. Do you have permission to write to the `$HOME/bin` directory (what do you see when you run `ls -l` on $HOME?

[2020-12-10 20:56] warrensbox commented on #118
This is plausible. I can try to implement this by the end of this year.

[2020-12-14 16:03] strowk commented on #117
1. both give same result
1. I am owner  of $HOME/bin:
[code]

Note:

I've uninstalled tfswitch installed using Troubleshooting guilde and installed snap package again to reproduce it again

[2020-12-14 16:17] strowk commented on #117
From what I see here
https://forum.snapcraft.io/t/access-to-specific-hidden-file-path-in-users-home/6948
it looks like
1. problem is in ~/.terraform.versions
2. snap does not allow to use hidden dirs in home

So either tfswitch in snap package should automatically use different folder (maybe ~/snap/tfswitch ? I see this folder has been created by snap) or at least allow to customize it.

[2020-12-14 16:58] warrensbox commented on #117
@strowk  perhaps I can allow users to customize it.
Thank you for bringing this up. I will find some time to do this before the end of the year. Hopefully, I can release this fix in January.
In the source code: -
[code]
I can make this `getInstallLocation()` customizable where users can provide a location for all terraform binaries. Again, I can only get to this by the end of the year. If you know

[2020-12-14 16:59] warrensbox commented on #120
Thanks. I will review this soon.

[2020-12-14 20:56] strowk commented on #117
Just want to add one note here - I see it would go better if either there would be note in installation doc and in description here https://snapcraft.io/tfswitch , that snap package requires additional configuration, or binary should somehow understand that it's running as a snap package and change path automatically. Otherwise everyone who install snap package would found themselves in this issue

[2020-12-17 20:10] boxrick commented on #119
Hey sorry for the slow response, I appreciate your reply! This is more along the lines of:

Run `tfswitch 0.14.2` then as a net result of that an environment variable is potentially set showing the current version

So for example in this case something like CURRENT_TF_VERSION=0.14.2

This would then allow us to consume this variable for usage in shell integration and such.

[2020-12-21 13:09] versus commented on #116
Simplest solution that worked when upgrading to Big Sur. A clean install may not require the solution below. I believe there is some inconsistency with the way CLT is upgraded.

[code]

[2021-01-05 14:31] nlarzon commented on #120
Yes, plz!

[2021-01-09 03:48] #120 closed

[2021-01-10 00:58] warrensbox commented on #120
@nlarzon @grimm26
I tested and released this - version 0.9.939.  Please get the latest version -
https://tfswitch.warrensbox.com/Upgrade-or-Uninstall/
Please help me test it and let me know if it's working correctly.
Thank you.

[2021-01-13 08:51] antonphilin opened #124 "Had you had a plan supporting Terraform v0.13.6 across tfswitch?"
I have gotten the error:

`Error refreshing state: state snapshot was created by Terraform v0.13.6, which is newer than current v0.13.5; upgrade to Terraform v0.13.6 or greater to work with this state`

[2021-01-13 08:56] #124 closed

[2021-01-13 09:45] warrensbox commented on #84
### Install latest version only
1. Install the latest stable version only.
2. Run `tfswitch -u` or `tfswitch --latest`.
3. Hit **Enter** to install.
### Install latest implicit version for stable releases
1. Install the latest implicit stable version.
2. Ex: `tfswitch -s 0.13` or `tfswitch --latest-stable 0.13` downloads 0.13.6 (latest) version.
3. Hit **Enter** to install.
### Install latest impl

[2021-01-13 09:46] warrensbox commented on #118
### Install latest version only
1. Install the latest stable version only.
2. Run `tfswitch -u` or `tfswitch --latest`.
3. Hit **Enter** to install.
### Install latest implicit version for stable releases
1. Install the latest implicit stable version.
2. Ex: `tfswitch -s 0.13` or `tfswitch --latest-stable 0.13` downloads 0.13.6 (latest) version.
3. Hit **Enter** to install.
### Install latest impl

[2021-01-13 09:48] warrensbox commented on #110
@hongkongkiwi
### Install latest version only
1. Install the latest stable version only.
2. Run `tfswitch -u` or `tfswitch --latest`.
3. Hit **Enter** to install.
### Install latest implicit version for stable releases
1. Install the latest implicit stable version.
2. Ex: `tfswitch -s 0.13` or `tfswitch --latest-stable 0.13` downloads 0.13.6 (latest) version.
3. Hit **Enter** to install.
### Insta

[2021-01-13 15:51] wderezin commented on #118
It's functioning per the documentation but the version is ignored with `--latest` instead of creating an error.

[code]

[2021-01-14 03:53] warrensbox commented on #118
@wderezin
`tfswitch --latest` will get the **latest of the latest stable** terraform version. At this moment, it is `0.14.4`.

`tfswitch --latest-stable 0.13` or `tfswitch -s 0.13` will get  `0.13.6` <- latest version of terraform 13.

`tfswitch --latest-pre 0.13` or `tfswitch -p 0.13`  will get `0.13.0-rc1` <- latest version of pre-release terraform 13.

In your case, please use `--latest-stable`

[2021-01-14 18:53] andremacdowell commented on #33
This actually works well if you just want the solution for local wsl2 usage.

[2021-01-21 14:36] julian-alarcon opened #126 "Snap package has not been updated since September 2020"
Checking the website of Snapcraft I see that the latest version available is 0.7.817 but current version is 0.10.958 from 8 days ago.

https://snapcraft.io/tfswitch

[2021-01-27 04:20] Balakrishna625 opened #127 "cannot install tfswitch as normal user,"

[2021-01-28 07:13] beanaroo commented on #127
You can. Helpful instructions are provided on the [Troubleshooting](https://tfswitch.warrensbox.com/Troubleshoot/) page.

I'm a bit disappointed this is not the default behaviour. `pyenv`, `nvm` all operate within the user directory. They also allow you to work on different versions on multiple projects at the same time.

tfswitch appears to modify the global context.

[2021-01-29 05:01] warrensbox commented on #126
@julian-alarcon it should be available now. Looks like the automated process to release on snapcraft was not working earlier.
See updated version here: https://snapcraft.io/tfswitch
`snap refresh tfswitch --stable` to get the latest version

[2021-02-03 16:10] #126 closed

[2021-02-03 16:11] #110 closed

[2021-02-03 16:11] #118 closed

[2021-02-05 09:32] warrensbox opened #129 "Improve error message when tfswitch is unable to connect to hashicorp"
Error getting url: Get https://releases.hashicorp.com/terraform/: dial tcp: lookup releases.hashicorp.com: no such host

[2021-02-05 13:20] yermulnik commented on #86
+1

[2021-02-05 16:00] warrensbox commented on #119
### Use environment variable
You can set the `TF_VERSION` environment variable to your desired terraform version.
For example:
[code]

@boxrick Can you please test this feature?
Upgrade to the latest tfswitch for this feature:
https://tfswitch.warrensbox.com/Upgrade-or-Uninstall/

[2021-02-05 17:39] boxrick commented on #119
Hello! Thanks for the amazing software it works really nicely. I think this feature may be the inverse of what I meant.

I want tfswitch to export to the environment the 'current' running version rather than tfswitch change based on the environment if that makes sense?

The idea is then I can then take this env var and use it on the console to show a prompt with the current version we are switched

[2021-02-09 14:01] blugri opened #132 "Switching terraform version on M1 architecture Mac OS 11 (Big Sur) results in error"
Running tfswitch on M1 architecture with MacOS 11 (Big Sur) does not work and reports the following error:

Error - Binary path does not exist: /usr/local/bin
Create binary path: /usr/local/bin for terraform installation

The terraform application is not installed.

[2021-02-15 03:36] SvenDowideit opened #133 "why are there files going into my homedir?"
from the code, there are comments that say:

[code]

but the files are ending up in `/root/.terraform.versions` because I need to use `sudo ./terraform-switcher`, because my `/usr/local/bin` is not writeable by my user - and it should not be writeable by any user...

(I'm asking to find out if there was a good reason, or if a PR is warranted)

[2021-02-15 04:00] SvenDowideit opened #135 "Error - Binary path does not exist: /usr/local/bin"
error is not true - it exists, the only thing is that the user doesn't have write access to it..

[code]

[2021-02-15 04:02] SvenDowideit commented on #135
oh, `Version: 0.10.958` - seems fixed in master?

[2021-02-15 04:02] #135 closed

[2021-02-15 11:05] applike-ss commented on #117
Is there any progress on this? I would actually like to use a snap version of tfswitch :+1:

[2021-02-15 19:44] strowk commented on #117
Well, I managed to reproduce that issue on CI here - https://github.com/strowk/terraform-switcher/blob/5e93ed57d0dc94edc73d1b0078c36eb404774510/.circleci/config.yml . So that could be used in this project to check if the stuff actually works after releasing.
This is how reproduced fail looks like:
https://app.circleci.com/pipelines/github/strowk/terraform-switcher/8/workflows/02ecaec3-3a33-4e2e-93

[2021-02-21 23:32] maxbrunet commented on #133
I would guess that `tfswitch` was initially designed for MacOS where `/usr/local/bin` is writable (or is made so by Homebrew). On Linux, I change the path with the `--bin` flag:

[code]

(It would be nice if it was an environment variable in my shell profile)

In my opinion, `tfswitch` should not be run as root (unless maybe a system-wide setup, but the symlink remains awkward).

[2021-02-22 00:08] SvenDowideit commented on #133
that's the thing - we use multi-user unix hosts. so there is no point at which we'd use this and its not system-wide.

[2021-02-22 00:11] SvenDowideit commented on #133
I guess the real problem is - if you're installing into `/usr/local/bin` by default, then it should do the right thing for multi-user use

if you don't want to do multi-user, then the files should not be going there, and the user should need to setup their own PATH

[2021-02-26 13:45] oh-carlos-iglesias opened #136 "Issue setting the right version in .tfswitch.toml file"
Hi, this issue pops up a few versions back, 0.9.934 but is still present in the current 0.10.1010.
I have a .tfswitch.toml file with the following configuration:
`version = "0.12.29"`
Single line, no other chars in the file, simple and clean.

When I move into the directory tfswitch reads the file and switches to terraform version 0.12.30 with the following
message:
`
Reading configuration from cu

[2021-03-01 18:43] skyzyx commented on #132
I'm on Big Sur, and I don't have this issue.

[2021-03-01 18:45] skyzyx opened #137 "latest-pre isn't picking up 0.15-beta1"
Worked well with the alpha releases.

[code]

[code]

[2021-03-02 15:51] blugri commented on #132
@skyzyx Are you on the M1 chipset? I have the problem on M1.

[2021-03-02 15:53] skyzyx commented on #132
Ah. I'm on x86. I think the M1 is context I didn't see in the original post.

Terraform doesn't have official releases for M1 yet. That's probably the problem.￼

[2021-03-05 06:05] warrensbox commented on #137
I will release this fix by next week! Thank you.

[2021-03-05 09:44] Xat59 commented on #127
To install `tfswitch` as unprivileged user, use the `-b` option of the `install.sh` script. It defines the path directory of the `tfswitch` binary :

[code]

Then, I am able to `tfswitch`, but there I need to use `-b` to define the complete location of the `terraform` symlink for the binary :

[code]

Hope this help

[2021-03-06 12:32] yermulnik opened #138 "Homebrew formulae to support Linux"
Would you please review and merge?
https://github.com/warrensbox/homebrew-tap/pull/2

Also you may want to leverage https://goreleaser.com/customization/homebrew/ to auto-update brew taps.

Thanks for the brilliant tool @warrensbox !

[2021-03-06 12:36] yermulnik opened #139 "Global user config to allow `tfswitch` to reside in user' PATH"
Is there an option to have a global user config like `~/.tfswitch.toml` so that we can set bin path to a non-global location like `~/bin/` w/o a need for quirks like shell wrappers or changing `/usr/local/bin/` dir permissions?

[2021-03-06 20:29] llamahunter commented on #109
The above builder works great for a multi-stage docker image, where you can just `COPY --from=build /app/terraform-switcher /usr/local/bin/tfswitch` in a later image.

[2021-03-06 20:32] llamahunter commented on #109
Also, if you want to 'pre-populate' your alpine based docker image with a terraform version so that tfswitch doesn't need to download it on each run:

[code]

repeat as needed for other `TERRAFORM_VERSION`'s. Or make a loop and iterate through a list (tho that will blow the docker image cache if you change the list to add a new version).

[2021-03-09 12:28] #138 closed

[2021-03-09 16:41] warrensbox commented on #56
It should be up-to-date now:
https://github.com/warrensbox/terraform-switcher/releases/tag/0.11.1071

Please open a new issue if there any problems! Thank you! 🙂

[2021-03-09 16:41] #56 closed

[2021-03-09 16:54] warrensbox commented on #137
@skyzyx I fixed this bug
![pre-rel](https://user-images.githubusercontent.com/38867521/110507487-adef8400-80c5-11eb-8d06-0569ac20bf52.gif)
 Please get the latest version and verify if it's working as expected.
 https://tfswitch.warrensbox.com/Upgrade-or-Uninstall/
 Thanks!

[2021-03-09 21:00] yermulnik commented on #86
Works for me. Thank you!
[code]

[2021-03-11 19:47] johannes-mathes opened #150 "Allow fallback version"
We define a version requirement in most terraform modules, because we want the full control about updates. We use tfswitch also in a pipeline, without any parameter as we want to use the feature that tfswitch parses the version constraint and uses this. However, if it is not defined, tfswitch asks interactively and fails.
We would like to specify a fallback version for such a case -> no interactiv

[2021-03-12 00:31] warrensbox commented on #150
@johannes-mathes
You have some parts where you have `terraform version` defined in the module, like this:
[code]
And you have some places where terraform is not defined, am I correct?

If the terraform version is not defined, what would you suggest `tfswitch` to do?
Someone else suggested to have a -q argument [here](https://github.com/warrensbox/terraform-switcher/pull/108).

[2021-03-12 07:07] johannes-mathes commented on #150
Yes, you are right. I would think a switch -q <FALLBACK_DEFAULT_VERSION>.
Behaviour:
If available, take terraform version specified by required_version.
Otherwise, take FALLBACK_DEFAULT_VERSION.

And by the way, your tool is very great. We use it allover our project.

[2021-03-13 23:46] schollii opened #151 "should not require root or -b when switching"
By default tfswitch assumes current user can write to /usr/local/bin. If this is not true, then you only have 2 options, neither of them are nice:
1. every time you want to switch terraform version, you have to `sudo tfswitch` AND thereafter you have to `sudo terraform` because when you `sudo tfswitch` the location of terraform files ends up being root. You could of course do `sudo tfswitch -b /us

[2021-03-19 23:53] amine250 commented on #151
I couldn't agree more.
There's no excuse to give root access to a tool that downloads a binary and symlinks into a given directory.

To my understanding, tfswitch was first developped for MacOS, and /usr/local/bin permissions in MacOS differ from linux's permissions. While the former is owned by the normal user, the latter is owned by root.

The difficulty here would be to find a directory that's

[2021-03-20 18:15] schollii commented on #151
@amine250

The only one that satisfies this is user's home directory.

That's really what should be the default anyways: rarely would every user of a system want to use the same version of terraform.

[2021-03-20 23:38] vusonhust opened #152 "Unable to download terraform"
[code]
if I visit direct download link in browser, 403 Forbidden error appear, but if I browse `https://releases.hashicorp.com/terraform/0.14.8/` then click file to download, I can download it.

(For reference, I'm using M1 Macbook Pro)

[2021-03-21 12:12] lordz-md commented on #152
Same issue here.

[2021-03-24 04:44] warrensbox commented on #152
@vusonhust and @lordz-md  what version of `tfswitch -v` do you have?

[2021-03-24 05:08] vusonhust commented on #152
@warrensbox my version is 0.11.1071

[2021-03-24 16:23] benbieler commented on #152
same problem with a M1 mac

[2021-03-25 12:53] troy-mac commented on #33
@warrensbox any chance you will be fixing this on WSL Ubuntu?  I have tried everything above, even chown of /usr/local/bin and nothing works. Not sure why there is a need to put everything in /usr/local/bin why can't a user just install to their home directory.

[2021-03-25 14:12] troy-mac commented on #33
Seems I got it to work with using snap install.  BUT all that said when I open another terminal I get the same issue I have to sudo to use it.  FYI snap on WSL would not work until I ran these commands.
`sudo apt-get update && sudo apt-get install -yqq daemonize dbus-user-session fontconfig
sudo daemonize /usr/bin/unshare --fork --pid --mount-proc /lib/systemd/systemd --system-unit=basic.target
ex

[2021-03-25 21:25] ElAouaneHamza commented on #152
I have the same problem. I am on a MacBook Air m1. Did anyone find a solution to this?

[2021-03-25 21:38] ElAouaneHamza commented on #152
the download link is wrong. is pointing to amd64 but online there is only the version arm64

[2021-03-26 17:04] warrensbox commented on #152
I am in the process of debugging this.
@ElAouaneHamza

Where do you see that the download link is pointing to the wrong amd64

[2021-03-28 05:42] mperklin commented on #152
[code]

The M1 runs `darwin_arm64`, but when you look at [https://releases.hashicorp.com/terraform/0.14.9/](https://releases.hashicorp.com/terraform/0.14.9/) there is no `darwin_arm64`. There's only `darwin_amd64`.

Hashicorp needs to post their arm64 binaries at that path.

In the meantime, I wonder if this can run with Rosetta

[2021-03-28 23:18] warrensbox commented on #152
@mperklin Thank you for clarifying. I don't have a M1 system to test this. Until [AWS comes up with a system that I can use to test my application](https://www.zdnet.com/article/aws-offers-mac-ec2-instances-here-what-it-means-for-apple/)), I have to rely on other to test this . But your clarification  certainly saved a lot of debugging time.

[2021-03-31 15:38] yermulnik opened #154 "Feature request: option to dry-run"
I'd like to ask to implement a feature which would allow me to run `tfswitch` in a dry-run mode where it only outputs whether it would switch terraform version in current directory or not with different exit codes for the two operations (e.g. `0` for when no switching is required and `1` for when `tfswitch` would switch versions).

My use case: we're managing different infrastructures from differe

[2021-04-01 05:30] vusonhust commented on #152
This work normally when using iterm 2 in rosetta mode. I think on Mac ARM we can set download to use amd64 link since there is no version for Mac ARM right now

[2021-04-01 14:55] amine250 opened #155 "The amd64 precompiled binary doesn't work on Alpine"
Hi,

The precompiled binary for linux amd64 doesn't work on Alpine docker images.
It seems that it needs to be compiled with the command `CGO_ENABLED=0 go build` to not having it depend on `glibc` which is substitued by `musl` in Alpine.

[2021-04-06 17:20] warrensbox commented on #155
@amine250 can you test this binary on your alpine box?
https://github.com/warrensbox/terraform-switcher/releases/tag/0.11.1071

download: terraform-switcher_0.11.1071_alpine_arm64

Please let me know if that works.

[2021-04-07 07:37] toralf opened #156 "put terraform symlink into the directory of tfswitch itself"
Would help to not weaken the permissions of the /usr/local/bin directory + does not need the -b switch ;)

[2021-04-07 13:30] toralf commented on #156
BTW the install script mention that BINDIR is set to "./bin" but it is rather /usr/local/bin, or?
And -b needs to be the complete symlink file name, not only the dir where the symlink resides, or ?

[2021-04-12 20:31] skyzyx opened #157 "Natural sorting is required for newer versions to be listed as "recent""
As of today, `0.14.9` is marked as _recent_, while 0.14.10 is not. I'm guessing this is because the version numbers are sorted using standard `sort` instead of a natural sorting algorithm.

[2021-04-13 02:45] calebplum commented on #150
+1 for this, our use case is also running tfswitch within a pipeline. We like to specify `required_version` in our templates but need the ability to fallback to the latest stable version if a template is missing `required_version`.

Being that the [order of precedence](https://github.com/warrensbox/terraform-switcher#order-of-precedence) has environment variables prioritised last it would make sen

[2021-04-14 14:39] warrensbox commented on #157
@skyzyx
Hey Ryan, what command are you running:
When I run ` tfswitch --latest-stable 0.14`, I see:
<img width="461" alt="Screen Shot 2021-04-14 at 9 16 53 AM" src="https://user-images.githubusercontent.com/38867521/114728745-fd4c5400-9d04-11eb-84bb-0b9cb04d7a94.png">

When I run `tfswitch --latest`, I see:
<img width="949" alt="Screen Shot 2021-04-14 at 9 16 15 AM" src="https://user-images.github

[2021-04-14 16:45] skyzyx commented on #157
When I posted this, I was seeing `0.14.9` marked as _*recent_, but 0.14.10 was not marked this way, and was lower in the list.

Perhaps I don't understand the recency algorithm?

This is what I see this morning, after 0.15.0 has been released.

<img width="387" alt="Screen Shot 2021-04-14 at 9 43 14 AM" src="https://user-images.githubusercontent.com/39447/114747810-186b9380-9d06-11eb-9b39-db92d8eb

[2021-04-14 22:46] warrensbox commented on #157
@skyzyx the `*recent` here means that that's the most recent version that you have used on your machine. In this case, it means - you have "recently" used version 0.14.10 (this does not mean this is the latest version released by Hashicorp).
`tfswitch` remember the last 3 recent version that you have used. That way, it's easy to switch instead of scrolling all the way down.

For example : (the ord

[2021-04-15 12:25] tachylatus opened #158 "Very slow on Ubuntu/WSL2 due to PATH containing entries from Windows"
Running on Ubuntu in WSL2 (Windows Subsystem for Linux), `tfswitch` takes a very long time (10+ seconds) to complete, after the version has been selected/detected.
Reducing `PATH` to Linux-only paths, i.e. omitting anything under `/mnt/c/`, makes the command run almost instantly.
I have not looked at the code, but I am guessing it somehow does or triggers a traversal of all `PATH` entries, which c

[2021-04-15 17:57] mhvelplund commented on #158
I can confirm this. I came here to report that running `tfswitch` was very slow:

[code]

I've lived with it for months now, so it's not new, but after reading @tachylatus post, I tried pruning the "/mnt/c" parts of the path and lo and behold:

[code]

Using `strace` it looks like most of the time is spent waiting for a mutex of some sort, but it's definitely related to the Windows paths.

Strace

[2021-04-21 08:51] toralf opened #159 "RFE: tfswitch should exit with an error if the syntax in .tfswitchrc is not correct"
currently it returns 0 in such a case.

[2021-04-25 22:18] warrensbox commented on #159
I'm working on this. Thanks for bringing this up!

[2021-04-26 14:45] markmsmith opened #160 "Verify Downloads Checksum & Signature"
Due to the increasing frequency of supply chain attacks, it would be nice if tfswitch verified the checksums and gpg signatures of terraform when it downloads it for the first time, as described here:
https://www.hashicorp.com/security#template-page-security:~:text=Release%20Archive%20Checksum%20Verification

Here's some example bash code that may provide a useful starting point for doing the equi

[2021-04-27 15:36] warrensbox commented on #158
@tachylatus or @mhvelplund  can you provide the OS and ARCH of the container that you are using?

[2021-04-27 15:41] mhvelplund commented on #158
I'm running "Ubuntu 18.04.5 LTS" inside WSL2 under Windows 10.

[2021-04-27 15:45] mhvelplund commented on #158
The `PATH` vairable is bananas :)
[code]
There are 41 path elements.

[2021-04-28 17:15] chrispruitt commented on #152
i didn't look too deep into this, but anyone looking for a quick and dirty fix, this is working for me
https://github.com/chrispruitt/terraform-switcher

[2021-04-29 00:59] warrensbox commented on #152
@chrispruitt can you please create a merge request with your change. I think the most significant lines are on this file:
 lib/install.go (lines 94-98)
[code]
I can merge your request and release the fix. I would certainly appreciate the help.

[2021-04-30 14:24] warrensbox commented on #152
Thank you @chrispruitt. I will test and merge it after testing.

[2021-04-30 18:42] chrispruitt commented on #152
Happy to help @warrensbox and thanks for the awesome tool. I use it daily.

[2021-05-01 04:06] #152 closed

[2021-05-05 01:46] #137 closed

[2021-05-05 18:40] anherrera commented on #150
In addition to this, I'd like the option to return an error if no valid version was found. Currently, tfswitch doesn't return 1 when you specify an invalid version, only if you specify an invalid flag. I'd like a way of using tfswitch in an automated fashion but also enforce that developers are setting versions either in their tf files or in env vars, and then error out if not.

[code]

or

[code]

[2021-05-06 09:29] felipesere opened #164 "Support switching version for the current shell instead of globally"
**Use case**:
I work with multiple teams that update their terraform version on their own cadence. We cover the entire spectrum of 0.12.x to 0.15.x.
When working across these repos, I will often flick back and forth between them in different shells. I have to constantly re-run tfswitch because using 0.13.1 in shell A will not work with 0.14.2 in shell B.

**Suggestion**:
Not really sure about the

[2021-05-06 09:49] yermulnik commented on #139
Closing as irrelevant since this had been implemented: https://github.com/warrensbox/terraform-switcher#use-tfswitchtoml-file--for-non-admin---users-with-limited-privilege-on-their-computers

[2021-05-06 09:49] #139 closed

[2021-05-06 09:50] yermulnik commented on #164
+1
Somewhat relevant to what I'm looking for in #154

[2021-05-06 11:09] toralf opened #165 "tfswitch should accept a "--non-interactive" argument"
to avoid a hang in a pipeline.
The default might be to errorred out ?

[2021-05-06 23:39] #129 closed

[2021-05-06 23:40] warrensbox commented on #159
This is issue is fixed with release 0.12.1092
Release #163
Please upgrade and verify:
https://tfswitch.warrensbox.com/Upgrade-or-Uninstall/

[2021-05-06 23:50] warrensbox commented on #150
I am still working on the `Allow fallback version` request.

Meanwhile @anherrera, I fixed your issue with release 0.12.1092:
`tfswitch butts` and `tfswitch 16.4328.4` should exit with 1  😄
https://tfswitch.warrensbox.com/Upgrade-or-Uninstall/

Again, I am still working on @johannes-mathes request.

[2021-05-07 02:14] warrensbox commented on #119
@boxrick I don't think we can export the version to the environment:

When tfswitch runs, it is executing in its own shell. This shell(child) gets a copy of its parent shell's environment when it is forked. When tfswitch completes running, the child is removed. There is no way to pass the environment variable to the parent.

Environment variables can only be passed from parent to child (as part of

[2021-05-07 14:52] anherrera commented on #150
@warrensbox appreciate your swift response on this! Thank you! I'll keep an eye on this issue for the other bits :)

[2021-05-09 23:54] cognitiaclaeves opened #167 "TERRAGRUNT_CONFIG env var not considered?"
I have a repo where I need to maintain separate 'tracks' of config for terragrunt.

Running it looks like this:

[code]

And then in `tg-alt.hcl`:
[code]

I had expected tfswitch to have the same behavior as it does when the above version_constraints are found in `terragrunt.hcl`.

reference: https://terragrunt.gruntwork.io/docs/getting-started/configuration/#terragrunt-configuration-file

[2021-05-11 22:05] warrensbox commented on #164
@yermulnik @felipesere
I use different terraform versions for each project as well. This is what I did.
1. On your  .bashrc (or .bash_profile or .zsh or whatever shell you are using)
[code]
or
[code]
2. Save your changes. Source the file: `source  .bashrc` (or .bash_profile or .zsh or whatever shell you are using)
3. In your terraform project, run `terraform -v` to verify if this works

Let me kno

[2021-05-12 10:51] sbuckpesch commented on #33
For me the `.tfswitch.toml` solution works perfectly on WSL2 without changing any permissions on /usr/local/bin

[code]

[2021-05-12 11:35] yermulnik commented on #164
@warrensbox Thanks for the pointer. TBH I'm not very keen to wrap `terraform` into another shell function for my use case though.
Also (for the example above) I'm not really sure what's the purpose of having per-project bin-dir. Seems like having something like `terarform(){ tfswitch && terraform "$@"; } ; export -f terraform` should do the same thing along with **not** populating terraform binari

[2021-05-16 15:14] cognitiaclaeves commented on #167
Reading back through this, I realized I left out a few important details.

After setting up an AWS profile for `automation-examples`,

[code]

results in:

[code]

This only works because there is a `terragrunt.hcl` file for the sole purpose of declaring the TF version constraint.
When this is moved, tfswitch fails to find the constraint:

[code]

results in:
[code]

The expected behavior would be

[2021-05-17 06:31] plenti-chris-fowles commented on #158
you can configure wsl2 to not add windows paths:
set `/etc/wsl.conf` to
[code]

[2021-05-20 08:01] toralf commented on #159
fixed - thx

[2021-05-20 08:01] #159 closed

[2021-05-20 18:11] barakbd commented on #109
It would be great oh have a tfswitch Dockerhub image that can just be pulled in CI

[2021-05-20 18:31] yermulnik commented on #109
@llamahunter

Ain't it going to be a bit more straightforward to make use of `tfswitch` to pre-populate your docker image with needed TF versions? 😄  Something like this:
[code]

[2021-05-20 19:34] barakbd commented on #109
I think pre-populating the image with a specific version defeats the purpose of tfswitch :)

[2021-05-20 19:45] yermulnik commented on #109
Well, it depends on the security policies and all that stuff: imagine your build server has access to pre-approved external endpoints but your CI has not (or an approval is required from security team for all the external stuff you bundle into container image) — here comes the need to embed stuff into container image at buildtime rather than downloading it at runtime and `tfswitch` helps to switch

[2021-05-20 19:55] llamahunter commented on #109
Ah, yeah, that seems a bit simpler. Just use tfswitch to download the binaries itself when building the image.

[2021-05-20 19:56] llamahunter commented on #109
Er... not really. depends on your use case. This is an image used elsewhere. We know that many users will be using specific versions of terraform. Rather than _EVERY_ execution needing to download those versions _OVER AND OVER_, we download them once and bake them in to the image.

[2021-05-20 20:43] barakbd commented on #109
@llamahunter - What do you think of my above comment regarding a dockerhub image?
Please add a 👍  or 👎 .
Should I open a separate issue for that?

[2021-05-21 00:01] llamahunter commented on #109
Ideally, for us, it would be a binary installable from https://pkgs.alpinelinux.org/packages.

[2021-05-25 04:01] warrensbox commented on #109
@llamahunter Ideally, I would like to create an Alpine linux binary. Similar to https://aur.archlinux.org/packages/tfswitch
where users can install with `yay`:
[code]
I'll look into this for Alpine linux

[2021-05-25 13:54] warrensbox commented on #109
@barakbd I looked your docker MR. I have some suggestions. I will reach out to you soon.

[2021-05-28 12:19] dq-peytz opened #173 "error creating terraform version permission denied"
I install the tf switch with snap on a Ubuntu foca and got this error:

![image](https://user-images.githubusercontent.com/84777812/119982864-ac947000-bfbf-11eb-80f2-bc74dcc7c61c.png)

[2021-05-28 14:06] yermulnik commented on #173
I'd assume the following commands can help investigating your issue:
[code]

[2021-06-01 15:02] jakubbujny commented on #165
+1 here - I can try to raise PR with such functionality if maintainers are open for it?

[2021-06-04 04:55] warrensbox commented on #165
@jakubbujny I'd be open for it

[2021-06-29 00:09] pckilgore commented on #132
Seems to be a permissions issue (which idk why that would be different between Big Sur arches), easy workaround seems to be to give `tfswitch` a user-owned directory (I add ~/bin as top item in PATH in my profile):

[code]

Happy to help debug some more if you have ideas but the workaround is pretty easy.

[2021-06-29 14:55] mBouamama opened #175 "create github action"
**Describe the solution you'd like**
Create github action and use tfswitch for setup your environment
Example:
[code]

[2021-07-05 13:04] yermulnik commented on #119
Am I doing something wrong? :confused:
[code]

[2021-07-05 16:59] warrensbox commented on #119
@yermulnik it looks like you have a .tfswitch.toml file in your home directory. In that .tfswitch.toml file, you probably have set set a version constrain for the terraform version. The environment variable that you've set has a lower precedent than the configuration in the .toml file.
See:
## Order of precedence

| Order | Method |
| --- | ----------- |
| 1 | .tfswitch.toml |
| 2 | .tfswitchrc |

[2021-07-05 17:54] sjshuck-fpco commented on #173
I think this might be related to it being installed via Snap.
If you install it via `snap install --classic` does the problem persist?

[2021-07-05 18:04] yermulnik commented on #119
Hey @warrensbox
Thanks for looking into this.
Here's the content of my conf file:
[code]
No version constrain.
Is there any option/way to investigate why `tfswitch` doesn't pick env var?

Here's some more info if it may help to help me :smile: :
[code]

[2021-07-06 23:16] warrensbox commented on #119
In your directory, where you run `tfswitch`, do you have the version specified in the tf file?
For example, do you have:
[code]
in your terraform file? @yermulnik

[2021-07-07 10:14] amirtal-cp opened #181 "terragrunt.hcl file without any constraints causes tfswitch to fail"
running tfwsitch in a folder with terragrunt.hcl files without any version constraints returns an error:

[code]

[2021-07-07 11:07] yermulnik commented on #119
@warrensbox Yep, I do. This can be seen from `tfswitch` output:
[code]
And here's the TF contraint:
[code]

[2021-07-07 17:02] warrensbox commented on #119
The `version.tf` has higher precedent compared to env vars.
`version.tf >  Environment variable`
I should have documented that in the readme

[2021-07-07 17:10] yermulnik commented on #119
Oh, I see. Thanks.
Is there a way to sort of force precedence?
So in my use case I wouldn't want to use the most recent version of `terraform` which is `1.0.1` but would prefer to use the one which fits the constraint (`0.13.5`). I do understand that this is not what `tfswitch` was designed for though, but I do need to override its logic and use specific TF version w/o changing the constraint from

[2021-07-08 11:54] boxrick commented on #119
Hello! Thanks again for this great tool, use it almost every day.

I wonder if precedent should be instead set by ENV vars first, this is the usual method most tools take ( Ansible / Terraform / AWS-cli etc ... rather than config files first.

[2021-07-12 21:00] warrensbox commented on #119
Yes, I can look into that.

[2021-07-13 20:42] warrensbox commented on #181
@amirtal-cp `brew upgrade warrensbox/tap/tfswitch`
Thanks for opening this issue. The latest release should fix this

[2021-07-13 20:54] warrensbox commented on #81
### Use custom mirror
To install from a remote mirror other than the default(https://releases.hashicorp.com/terraform). Use the `-m` or `--mirror` parameter.
Ex: `tfswitch --mirror https://example.jfrog.io/artifactory/hashicorp`

Download latest release for this feature: `> 0.12.1168`

[2021-07-13 20:59] warrensbox commented on #151
With the latest release, tfswitch will automatically attempt to use $HOME/bin. You don't need to use the `-b` option.
Download the latest release (`>0.12.1168`)  to test it out. Please let me know if you find any bugs. Thanks.

[code]

[2021-07-13 21:04] amine250 commented on #151
Thanks, I'll try it out asap.
It should also be mentioned in the README that the $HOME/bin should be in the PATH (if it's not already mentioned).

[2021-07-13 21:06] warrensbox commented on #167
@cognitiaclaeves  If I am reading this right, `TERRAGRUNT_CONFIG` is an environment variable of  `/path/to/terragrunt.hcl`?

[2021-07-13 21:08] warrensbox commented on #117
I am requesting snapcraft  for access to user home:
https://forum.snapcraft.io/t/request-interface-personal-files-read-write/25277/3

If you all can upvote the issue, it would be great!

[2021-07-13 21:43] schollii commented on #151
I think `$HOME/.local/bin` is the standard location. See eg the answers in https://stackoverflow.com/questions/30274743/what-is-the-purpose-of-home-local.

[2021-07-13 21:58] warrensbox commented on #151
@schollii Previously you suggested `$HOME/bin`. I assumed most people agreed with that suggestion.

I was going off your initial suggestion. I do not mind `$HOME/.local/bin` 🙂
But let's see how many thumbs up you get from your new suggestion.

[2021-07-13 22:01] yermulnik commented on #151
Basically `$HOME/.local` is the part of https://specifications.freedesktop.org/ specs which (`freedesktop.org`) is about `interoperability and shared technology for open-source graphical and desktop systems` but to **`CLI`**.

[2021-07-13 22:04] warrensbox commented on #175
Won't it be easier using terraform's github action directly?
[code]

[2021-07-14 02:04] schollii commented on #151
@warrensbox haha indeed I just didn't think of it at the time. Python uses it, and some other tools (helm plugins?). The  home/.local (and its bin subfolder in particular) was designed exactly for the subject of this ticket: so that in general your home folder doesn't end up with a pile of subfolders from user-specific app installs, such as bin, lib, share, etc. It is 100% not just for GUI.

[2021-07-14 10:07] yermulnik commented on #151
@schollii JFYI: references to a community-driven **QA** web sources is kinda ridiculous to argue that `$HOME/.local/bin` is the **standard** location. This is the spec from GUI org.
Historically none of the unices et alii had it in the default user `PATH` (whilst `$HOME/bin` was (and still is there) there by default). Moreover based on the quick google search the only reason (back in 2018 — only t

[2021-07-14 10:11] yermulnik commented on #151
[code]

[2021-07-14 12:39] mBouamama commented on #175
It's a possible way but with that way if you change your terraform version in your version.tf you need to change terraform version in your github action so you need to do 2 actions. And if you create tfswitcher github action you can do change with only one action.
Regards

[2021-07-14 12:39] mBouamama commented on #175
sorry for my bad english

[2021-07-14 14:48] schollii commented on #151
@yermulnik about helm exactly, as you see helm uses home/.local as the base, this folder is the user-specific equivalent of /usr and /usr/local, and its plugins go in share so home/.local/share.

If you look at those posts, the trend is to move away from home as the root for user-specific bin, share, lib etc, in favor of home/.local. So the default for terraform switcher binary should be home/.loc

[2021-07-14 15:15] #181 closed

[2021-07-14 15:34] yermulnik commented on #151
No, it does not use `$HOME/.local` as the base. Or at least not the way you tend to interpret it. Running `helm env` would let us see that `$HOME/.local` used to store DATA and PLUGINS (and even plugins' executable files are not placed into `$HOME/.local/bin`).

`helm` tries its best to conform to [`XDG Base Directory Specification`](https://specifications.freedesktop.org/basedir-spec/basedir-spec

[2021-07-14 16:35] amirtal-cp commented on #181
confirmed.
thanks!

[2021-07-14 19:37] warrensbox commented on #173
I am trying to resolve this issue with snapcraft. I'm requesting additional permission here :
https://forum.snapcraft.io/t/request-interface-personal-files-read-write/25277/2
If you have a snapcraft account, please vote for this issue

[2021-07-14 21:07] schollii commented on #151
Well this says it all:

So the Python authors were just making that up, they were actually the first?

In any case, let's keep in mind the primary objective of this issue: to allow the user of tfswitcher to choose the location of terraform binaries. The *default* location is merely a convenience, so that if it matches what user wants, they have one less thing to specify on command line, as env var

[2021-07-14 21:43] yermulnik commented on #151
Nope. This is not Python but XDG spec. Spec for GUI not CLI.
Among mostly `should be`-dirs the `$HOME/.local/bin` is the `may be`-dir. Which means it is the instance of _optional_ among those which _should be_ used.

They are actually the only ones.

Absolutely! This is why I vouch for `$HOME/bin` as a more commonly and widely used path rather than `$HOME/.local/bin`.

[2021-07-15 05:39] warrensbox commented on #175
No worries. I understand your intention. Thank you for explaining.
I will add this feature in the near future.

[2021-07-15 22:44] mBouamama commented on #175
What a good news!!! And btw you do an amazing job!!

[2021-07-16 14:30] fhopeman opened #187 "Is tfswitch using http_proxy and https_proxy env vars"
Hi,

we are encountering a problem with tfswitch behind a web proxy. We have configured the following env vars:

- http_proxy
- https_proxy
- HTTP_PROXY
- HTTPS_PROXY

We are getting a timeout when we try to download a specific version of terraform behind a web proxy.

Best regards
Fabian

[2021-07-19 12:39] Vince-Chenal opened #189 "Execute selected terraform version directly from tfswitch"
**Is your feature request related to a problem? Please describe.**

When working with a huge amount of repos (each one having its own terraform version) it's getting hard to track and use the right terraform version.
Thanks to tfswitch we can select the good version before executing terraform which helps, but still we need to do this action first and as mentionned in [this issue ](https://github.c

[2021-07-21 21:04] cc-jhr commented on #187
Hi,

looking at [download.go](https://github.com/warrensbox/terraform-switcher/blob/master/lib/download.go) I see that the "default" go http client from _net/http_ is being used to download the releases.
From what I see in the implementation of [net/http/transport.go](https://golang.org/src/net/http/transport.go) (lines 37-53 and 421 - 447) the client already supports the usage of the environment

[2021-07-26 05:50] cc-jhr commented on #187
Hi,

seems that my assumption was wrong. `Get` uses `DefaultClient` which uses `DefaultTransport`. As for `DefaultTransport`:

So from my understanding does tfswitch actually support the environment variables and the error must lie elsewhere.

[2021-08-02 06:55] davehowell commented on #151
`$HOME/bin` makes total sense, I just want to add that I am setting up a new Big Sur machine and `$HOME/bin` is not part of the default `$PATH`. I thought that was a bit odd, but I can't remember if it was like that on previous OSX versions.

I've not heard of `$HOME/.local/bin`, but the same would apply, you'd have to explicitly add it to the path. Of the choices I have to agree that `$HOME/bin`

[2021-08-16 10:15] davehowell commented on #132
Looks like there are now M1 (arm) releases since 1.0.2 https://releases.hashicorp.com/terraform/1.0.2/terraform_1.0.2_darwin_arm64.zip

I've previously added `~/bin` to my `PATH` so I don't have any issue with this, as per https://github.com/warrensbox/terraform-switcher/issues/151

I tried running `tfswitch` in another repo, which installed `1.0.4`. When I run `terraform -v` I can see it has inst

[2021-08-27 08:00] xavipanda opened #192 "Update Golang Package Version on pkg.go"
Actually a very old version is in there and miss most of the existing functions, would be nice to get this updated in the pkg.go repo

[2021-08-27 17:31] grimm26 opened #194 "Add options to just show a version rather than install and switch to it"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to have tfswitch tell me what the latest/stable/pre version is before I choose to actually install it.

**Describe the solution you'd like**
I'm adding complementary "show" options to the three "latest" options that currently exist.
- --show-latest-pre
- --show-latest-stable
- --show-latest

PR ready: https://gi

[2021-09-06 08:30] strowi commented on #117
Hi, just wanted to leave my 2ct here:
Using Gitlab for ci/cd.
Gitlab allows specifying a cache from the build-dir (has to be withing the build-dir!).
It would be very helpful if there was a cli-parameter to allow changing  `~/.terraform.versions/` to e.g. `$PWD/.terraform.versions`.
This way the executables could be cached via Gitlabs mechanism, and there is no/less need to download these from ext

[2021-09-13 14:55] matiasict commented on #132
I have the same problem. You can fix it like this:

[code]

[2021-09-13 16:32] skyzyx commented on #132
Nothing personal, but this is bad advice from a security angle.

If you find yourself setting directories to `0777`, then _something is wrong_. Check user and group associations before setting things (especially entire directories) to `0777`. Do you simply need to add your user to a particular group? On macOS, do you just need to add yourself to the `wheel` or `admin` group?

[2021-09-21 10:09] mhvelplund opened #196 "`-b` is broken i release "0.12.1168""
No matter what I pass to `--bin` or `-b`, the local binary is called `terraform`

[2021-09-27 16:17] AndreasPrang opened #197 "warrensbox/terraform-switcher crit platform linux/arm64 is not supported."
**Is your feature request related to a problem? Please describe.**
I try to install terraform-switcher in Docker xbuild to generate a arm64 & amd64 image. In the linux/arm64 build I ge this error.

**Describe the solution you'd like**
Not sure what's the issue in the script. Did you miss to whitelist the artefact?
⇨ https://github.com/warrensbox/terraform-switcher/pull/198

** Installation process

[2021-09-27 16:24] AndreasPrang commented on #197
#52 5.954 install warrensbox/terraform-switcher
#52 5.959   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
#52 5.959                                  Dload  Upload   Total   Spent    Left  Speed
100  9187  100  9187    0     0  30220      0 --:--:-- --:--:-- --:--:-- 30220
#52 6.292 warrensbox/terraform-switcher info checking GitHub for latest tag
#52 6.682 warrensbo

[2021-10-03 21:02] warrensbox commented on #196
I found the problem. I will fix it soon

[2021-10-03 21:29] warrensbox commented on #189
@Vince-Chenal  Just to confirm - this change will require users to  run `tfswitch -e 1.0.8`  instead of `tfswitch 1.0.8`?
This is the biggest (non backwards compatible) change, correct?

[2021-10-05 16:22] kral2 commented on #197
I can confirm that just downloading the source from [latest release](https://github.com/warrensbox/terraform-switcher/releases/download/0.12.1168/terraform-switcher_0.12.1168_linux_arm64.tar.gz) and extracting the archive is enough to have it working on a linux/arm64 operating system.

Successfully tested on Oracle Linux 8.4  running on arm64.

It seems we just need to add arm64 as a valid platfor

[2021-10-15 08:51] stevehipwell opened #199 "This doesn't work on Windows despite there being a binary"
I downloaded your latest version onto Windows and when I tried to use it I got the following error.

I'm happy to help you figure out the Windows version of this, [nvs](https://github.com/jasongin/nvs) solves this problem in the same space.

Once this is working in Windows I'll re-open my PR to [add tfswitch to scoop](https://github.com/ScoopInstaller/Main/pull/2767) and open a PR back here for th

[2021-10-15 08:56] stevehipwell opened #200 "SemVer issue with Terraform on v1 releases"
I ran the following command and got an error despite it being semantically the same as the documented `tfswitch --latest-stable 0.13` command.

[code]

I suspect this is because this tool was only designed to work with pre v1 versions of Terraform. Semantically in `v0.11` there is no explicit minor version as the major version is `11`.

[2021-10-21 12:47] angelo-gelmini opened #201 "Calling bottle :unneeded is deprecated!"
I use tfswitch with Homebrew and there is a Warning during the upgrade procedure (`brew upgrade`):
My Homebrew version is:
[code]

And the warning is:
[code]

[2021-11-02 11:23] codafett opened #203 "command not found: terraform"
Env: Mac Book Pro M1 chip
Term: iTerm using zsh

I installed terraform via howbrew.

I'm able to run ```terraform -help``` and list out help commands.

I installed tfswitch via homebrew.

If I run ```terraform -help``` now I get ```zsh: command not found: terraform```

I can run tfswitch and switch to a different version of terraform but running ```terraform -help``` results in the same error.

Th

[2021-11-02 15:01] gtmtech opened #204 "tfswitch should really install the right terraform architecture binaries on OSX M1"
When running `tfswitch install` on OSX M1, terraform is installed, however the x86_64 version is installed.
This was acceptable when terraform had only non-arm binaries, but now that it does, it means all OSX people are getting versions which have to be emulated, occasionally crash, and also are a lot slower.

**Describe the solution you'd like**

I want tfswitch install to install the arm64 binar

[2021-11-02 17:32] gtmtech commented on #204
I see https://github.com/warrensbox/terraform-switcher/pull/202 has already been done but not merged. In fact a lot of unmerged easy PRs - is this repo still active?

[2021-11-03 14:28] galvo-bowers commented on #203
So i had this problem.
I resolved it.

Look where TFSWITCH is putting the Terraform Binary.

Instead of putting it in the Homebrew bin it was putting it in /Users/Me/bin

i just added that bin directory to my path. and it works just fine.

Should note that i didnt install terraform via brew, i just let tfswitch do it

[2021-11-03 14:42] yermulnik commented on #203
`tfswitch` has nothing to do with `Homebrew` and `Homebrew`'s bin path.
It seems to me that `tfswitch` uses `/usr/local/bin` by default (https://github.com/warrensbox/terraform-switcher/blob/master/main.go#L48) whereas `/usr/local/bin` might not be a part of the `PATH` env var be default on MacOS (I might be wrong though).
You can check the contents of `PATH` env var by running `echo $PATH` comman

[2021-11-03 14:48] codafett commented on #203
Thanks for the replies, /usr/local/bin was already in my $PATH and I can see that tfswitch is downloading to /Users/Me/bin so that seems to make sense. Annoyingly having retried it just now it seems to be working without having changed anything - so maybe it just lost config somewhere and sorted itself. I know someone else I worked with was having a similar issue so I'll check with them to see if

[2021-11-03 14:48] #203 closed

[2021-11-03 14:54] yermulnik commented on #203
Do you have `.tfswitch.toml` in your home dir with custom bin path set in it as per https://github.com/warrensbox/terraform-switcher#use-tfswitchtoml-file--for-non-admin---users-with-limited-privilege-on-their-computers ?
This is the only option I can imagine for `tfswitch` to use non-default bin path (apart from explicitly specifying `-b` or `--bin` parameter in the command line).

[2021-11-15 23:49] #80 closed

[2021-11-15 23:50] #81 closed

[2021-11-15 23:50] #84 closed

[2021-11-15 23:53] #116 closed

[2021-11-15 23:54] #127 closed

[2021-11-16 00:27] #132 closed

[2021-11-16 00:27] #119 closed

[2021-11-16 00:38] #133 closed

[2021-11-16 00:40] warrensbox commented on #136
I am unable to reproduce this error.
Please let me know if you are still seeing this error

[2021-11-16 00:40] #136 closed

[2021-11-16 00:42] warrensbox commented on #151
Release >0.12.1168 should fix this.
 I am closing this issue to focus on other issues

[2021-11-16 00:42] #151 closed

[2021-11-16 00:44] warrensbox commented on #175
This will be added in the future.
I am closing this for now.

[2021-11-16 00:44] #175 closed

[2021-11-19 13:11] ls-parwinderjit-singh commented on #175
@warrensbox ... I have a use case where I have to test my module with different terraform versions like 0.13.7 and 0.14.7.

jobs:
  code_quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: warrensbox/tfswitch@v1
         with:
          tf_actions_version: 0.13.7
      - name: Terraform Init
        id: init
        run: terraform init
      - name: Terra

[2021-11-29 03:23] warrensbox commented on #204
see #206

[2021-11-29 03:23] #204 closed

[2021-11-29 03:24] warrensbox commented on #201
Fixed: #206
Can you please help verify? @yermulnik

[2021-11-29 03:25] warrensbox commented on #196
Fixed: #206

[2021-11-29 03:25] #196 closed

[2021-11-29 03:30] warrensbox commented on #197
Fixed #206 and #198

[2021-11-29 03:30] #197 closed

[2021-11-29 03:30] #157 closed

[2021-11-29 03:31] warrensbox commented on #192
Please elaborate

[2021-11-29 10:36] yermulnik commented on #201
Yep, would be happy to:
[code]

Seems all fine 👍🏻

[2021-11-29 10:59] yermulnik commented on #154
As an interim solution (sort of FWIW) here's the ugly bit of Go code I came up with:
[code]
[code]

[2021-11-29 22:21] warrensbox commented on #201
Thanks @yermulnik !

[2021-11-29 22:21] #201 closed

[2022-01-13 23:07] rafayely commented on #203
Same for me on a M1 MacBook Pro. Tfswitch is downloading to /Users/Me/bin.

[2022-01-18 23:21] atheri opened #207 "tfswitch treats version constraint differently than terraform"
If I use the pessimistic constraint like so
[code]
terraform will allow me to use terraform version 1.1, but tfswitch will only switch to 1.0.x
[code]

terraform allowing 1.x version seems consistent with how they documented it [here](https://www.terraform.io/language/expressions/version-constraints). I would expect tfswitch to follow the same pattern.

[2022-01-24 17:47] warrensbox commented on #200
@stevehipwell

At this time, `tfswitch --latest-stable 0.11` downloads the latest stable version for V0.11.
`tfswitch --latest-stable 1.0` should download the latest stable version for V1.0.

Just to clarify are you saying that `tfswitch --latest-stable 1` should download the latest stable version for V1.0 ?

[2022-01-24 17:48] warrensbox commented on #199
I'll work on this.

[2022-01-24 17:56] #207 closed

[2022-01-24 18:42] warrensbox commented on #200
@yermulnik @stevehipwell I was looking at the docs.
`--latest-stable 1` should mimic `~> 1`.
[code]
The code above downloads 1.14 (latest at this time).
I need to make changes to the code to allow `tfswitch --latest-stable 1` to download  1.14 (latest at this time).

[2022-01-24 18:50] warrensbox commented on #207
[code]
**Should get the latest stable version of 1.0.0**  which is  1.0.11

If you want the latest of V1 terraform:
Simply use:
[code]
**Should get the latest stable version of 1 **  which is  1.1.4.

I will fix the documentation to reflect this

[2022-01-24 18:52] yermulnik commented on #200
@warrensbox Just for the sake of clarity: latest is `1.1.4`

[2022-01-24 18:55] yermulnik commented on #207
@warrensbox Last code example should probably be read as `required_version = "~> 1"`?

[2022-01-24 21:20] warrensbox commented on #200
Yes. that's what I meant. That's a typo.

[2022-01-24 21:30] warrensbox commented on #207
Correct, I had a typo. It should be:
[code]

[2022-01-24 21:54] atheri commented on #207
@warrensbox Just for clarity, I don't think it works quite like the comment.

Testing your fix out locally I get the following results (which is in line with what I expected, but not quite the same as your comment)
[code]
[code]
^ Get latest stable of `1.0.x`

[code]
[code]
^ Get latest stable of `1.x.x`. This is new, it used to get `1.0.x` per the original issue.
[code]
[code]
^ Get latest stable

[2022-02-09 19:39] miguelhar opened #210 "tfwitch blindly removes default terraform symlink, when bin is passed and version does not exist locally"
Consider the following scenario,  we want to have 2 versions of terraform with 2 different binary values.

- `terraform`
- `terraform0.12`

[code]

changing versions for terraform0.12 behaves as expected since version 0.12.31  is present(in `~/.terraform.versions/`):

[code]

[code]

Now we will try with version 0.12.30 which had not been downloaded...

[code]

As you can see the symlink  `/usr/lo

[2022-02-09 19:42] miguelhar commented on #210
I believe the culprit is the hardcode of the terraform path, instead of looking at the `--bin` value

https://github.com/warrensbox/terraform-switcher/blob/ea69e4d842b42e108ce6d2fbb164104c821e5207/lib/install.go#L35

[2022-02-11 01:49] warrensbox commented on #210
@miguelhar what version of tfswitch are you using?
`tfswitch -v`

[2022-02-15 16:33] miguelhar commented on #210
removing [this](https://github.com/warrensbox/terraform-switcher/blob/master/lib/install.go#L93) function fixes the issue(tested locally)
as the comment states, it seems this function is not necessary.
[code]

[2022-02-15 16:38] miguelhar commented on #210
[PR](https://github.com/warrensbox/terraform-switcher/pull/211) to fix

[2022-02-18 14:38] doron-cohen opened #212 "Respect XDG guidelines"
Hi,

I saw issue #80 is closed and it seems to be done but the functionality doesn't work. Should it? I would like `tfswitch` to respect XDG env vars. Alternatively, I wish I could set some env vars to tell it where to store the config and binary.

Thanks

[2022-02-24 11:01] krish7919 opened #213 "Static build of `tfswitch` unavailable?"
I have just installed the latest release of `tfswitch` on my CI container based on alpine 3.14 and the command wouldn't run.
While debugging, I discovered that `tfswitch` is a dynamically built binary instead of a statically built one.

Please find below a comparison of the outputs of the `ldd` command from within my container:

[code]

Can we provide static binaries in the releases page for downl

[2022-02-24 11:35] krish7919 commented on #213
For others hitting the same issue, I have used the following snipper for now:

[code]

[2022-02-26 20:59] mantorok1 opened #214 "Unable to install due to "Invalid formula" error"
When I attempt to install tfswitch for the first time I'm getting several "Invalid formula" errors. Here's the output:
[code]

This might be related to Issue [#201](https://github.com/warrensbox/terraform-switcher/issues/201)

My environment:
- macOS version: `12.2.1`
- brew version: `Homebrew 3.3.16-64-g103cd0c`

Let me know if you need any further details.

[2022-02-28 19:47] juniperalcorn commented on #214
Hi I am having the exact same problem!
- brew: `Homebrew 3.4.0`
- maxOS `10.15.7`

[2022-02-28 20:57] Mothirajha commented on #214
Hey Iam also facing the same problem! any work around to fix it

- brew: `Homebrew 3.4.0`

- macOS: `12.0.1`

[2022-02-28 21:03] juniperalcorn commented on #214
I succesfully used the `curl` option [from the docs](https://tfswitch.warrensbox.com/Install/).

[2022-02-28 21:17] sistella commented on #214
Same here:
- MacOS `12.2.1`
- brew `Homebrew 3.4.0`

the curl doesn't work for me

[2022-02-28 21:18] Mothirajha commented on #214
Thank you @juniperalcorn

Tried with `curl` got permission issue, worked fine with wget from [trouble shoot docs](https://tfswitch.warrensbox.com/Troubleshoot/).

[2022-02-28 21:35] hopkinsnji commented on #214
Experiencing the same problem when installing with brew. It worked with `curl`

`curl -L https://raw.githubusercontent.com/warrensbox/terraform-switcher/release/install.sh | bash
`

[2022-02-28 23:41] rux616 opened #215 "tfswitch doesn't interpret the pessimistic constraint operator the same way that Terraform interprets it"
Consider the following Terraform code:

[code]

When evaluated by the Terraform binary, it is interpreted as "allow `1.x.*`, where `x` is at least `0`". Unfortunately, when evaluated by `tfswitch`, it is interpreted as "allow `1.0.x` where `x` is at least `0`", which is incorrect. According to the [Terraform docs](https://www.terraform.io/language/expressions/version-constraints#-3):

The _rightmo

[2022-03-03 22:03] jessmchung commented on #214
Same issue with `brew install warrensbox/tap/tfswitch`, haven't tried curl.

* MacOS `11.6.4`
* brew `Homebrew 3.4.0 Homebrew/homebrew-core (git revision 7e35b54d72d; last commit 2022-03-03)`

[2022-03-04 14:53] marcoslhc commented on #214
The manual installation from the troubleshoot section worked for me

* Intel Mac (not ARM)
* MacOS Monterrey 12.2.1 (21D62)
* Homebrew 3.4.0
* Homebrew/homebrew-core (git revision 49fa997cd7f; last commit 2022-03-04)
* Homebrew/homebrew-cask (git revision fe09f6227a; last commit 2022-03-04)

[code]

[2022-03-07 01:18] warrensbox commented on #214
I've tested on:
MacOS : `12.2.1`
[code]
I had to run:
[code]
Update brew:
[code]
Reinstall the tap:
[code]
@marcoslhc are you using an Intel Mac or ARM. Please [check](https://support.apple.com/en-in/HT203001)  and let me know.

[2022-03-07 06:50] m0ps commented on #214
I've tested on macOS 12.2.1 on MacBook Pro 16" M1 Pro CPU
The issue still exists:
[code]
[code]

[2022-03-07 07:00] jochenhebbrecht commented on #214
I have exactly the same issue, I'm also on OS X 12.2.1 on a MacBook Pro 16" M1 machine

[2022-03-07 08:56] stevehipwell commented on #199
@warrensbox have you made any progress with this?

[2022-03-07 10:05] Priyadarshi-Kumar commented on #214
I solved this issue on Macos running on M1 with following commands:

curl -L https://raw.githubusercontent.com/warrensbox/terraform-switcher/release/install.sh -o ./install.sh
chmod +x install.sh
sudo ./install.sh

[2022-03-07 10:31] m0ps commented on #214
@Priyadarshi-Kumar you installed it via tarball (manual install). The issue is with installation via brew (packet manager).

[2022-03-07 12:38] attachmentgenie commented on #214
@warrensbox i can reproduce the broken behaviour by running the following

[code]

[2022-03-07 13:42] piscue commented on #214
Exactly the same behavior from my side.

[2022-03-08 20:49] llamahunter commented on #215
This appears fixed in the top of trunk. Unfortunately, no release yet with this fix.

[2022-03-08 20:50] llamahunter commented on #215
See also https://github.com/warrensbox/terraform-switcher/pull/208

[2022-03-08 21:05] warrensbox commented on #215
@llamahunter I wanted to verify before releasing:
[code]
should install "1.1.7", right ?
[code]

[2022-03-08 21:07] llamahunter commented on #215
yes... `~> x.y` should install any major versions of `x` that have minor versions greater than or equal to `y`.

[2022-03-08 21:13] rux616 commented on #215
Exactly. And a constraint of `~> 1.0.0` should download v1.0.11 (November 10, 2021).

[2022-03-08 21:18] warrensbox commented on #215
@rux616
ok I got that too:
[code]
I will release it shortly.

[2022-03-08 22:12] rux616 commented on #215
Fixed in release [0.13.1218](https://github.com/warrensbox/terraform-switcher/releases/tag/0.13.1218).

[2022-03-08 22:12] #215 closed

[2022-03-09 07:38] Jean-Gualbert commented on #214
Hello,
I retried today, it’s work now.
Thank for the fix.

[2022-03-09 08:04] piscue commented on #214
Same, thanks for the fix

[2022-03-09 11:56] JochenHebbrecht-TomTom commented on #214
Fixed for me as well 👍

[2022-03-09 12:43] jochenhebbrecht commented on #214
Fixed for me as well 👍

[2022-03-11 00:21] warrensbox commented on #200
#216 fixed

[2022-03-11 00:21] #200 closed

[2022-03-12 02:55] mantorok1 commented on #214
It's fixed for me too so I'm closing this issue

[2022-03-12 02:55] #214 closed

[2022-03-14 11:14] psihachina commented on #192
Hi, @warrensbox

In pkg.go [terraform-switcher](https://pkg.go.dev/github.com/warrensbox/terraform-switcher@v0.1.0) is not updated due to the [version tag](https://github.com/golang/go/wiki/Modules#modules). The version tag must contain the letter "v". It would be great if you fixed this, then me and anyone else could use your package in other projects.

[2022-03-23 01:20] shadycuz opened #217 "Add a flag to return the path to the binary"
**Is your feature request related to a problem? Please describe.**
I'm trying to use terraform-switcher in my jenkins and I'm having problems with the symlink and setting the PATH.

**Describe the solution you'd like**
Add a flag to terraform-switcher that behaves like `which`, I only want it to return the path to the terraform binary. In our pipeline we deploy lots of different terraform repos so

[2022-04-01 21:54] joe-a-t opened #218 "Search parent directories for Terraform version"
**Is your feature request related to a problem? Please describe.**

At my company, we have a bunch of Terraform repos. Within each of those repos, we have hundreds of different Terraform root modules. Currently, we have a `.terraform-version` at the root of each of those repos and https://github.com/tfutils/tfenv will search the parent directories looking for those `.terraform-version` files and s

[2022-04-04 14:58] tedivm opened #219 "`terraform: command not found`"
**Is your feature request related to a problem? Please describe.**
I'm running a brand new laptop and installed it via brew.

**Describe the solution you'd like**
tfswitch installs and the commands all work, but the terraform command is never found.

**Describe alternatives you've considered**
The only alternative is to not use tfswitch.

**Additional context**
I'm using standard shell with standa

[2022-04-05 10:36] MicNim opened #220 "using terraform_version_constraint in terragrunt.hcl doesn't seem to cause terraform version to change"
https://github.com/warrensbox/terraform-switcher/blob/092ccf5400887b7e02e296a8ff507fb2f6f7c4eb/main.go#L437

Working on implementing the "terraform_version_constraint" config for a stack that will uses multiple versions of terraform.

The current deployment consists of 3 modules

module1 = terraform 0.14
module2 = terraform 0.14
module3 = terraform 0.13.6

Running 'terragrunt run-all init' elicits

[2022-04-20 19:55] aucampia commented on #165
as a somewhat of a hackaround I'm piping yes into tfswitch:

[code]

[2022-04-21 15:43] rolandjohann opened #222 "--chdir with absolute project paths not working"
Due to implementation we are not able to pass absolute paths to tfswitch:

https://github.com/warrensbox/terraform-switcher/blob/092ccf5400887b7e02e296a8ff507fb2f6f7c4eb/main.go#L74-L76

Before discovering `chdir` option we had to change dir at a sub shell, but were happy to discover a better way to reference terraform project directories and circumvent the problems involved by using subshells in

[2022-04-21 21:04] warrensbox commented on #219
For the time being, you have to use the `-b` option on the new M1 macs

### Use use the `-b` option or .tfswitch.toml file
This is similiar to using a .tfswitchrc file, but you can specify a custom binary path for your terraform installation

<img src="https://s3.us-east-2.amazonaws.com/kepler-images/warrensbox/tfswitch/tfswitch-v7.gif#1" alt="drawing" style="width: 370px;"/>

<img src="https://s3

[2022-05-02 12:12] r8or0pz opened #223 "Cannot switch to desired Latest stable (--latest-stable)"
Version of tfswitch:
[code]
It doesn't switch to latest stable among desired minor version:
[code]

I expect it to be something like "0.11.x", not "0.15.5"

[2022-05-09 19:25] Tonkonozhenko opened #224 "Stopped working inside terraform project"
[code]

[2022-05-09 19:31] andrewsavino1 commented on #224
Because the timing seems suspect, I'll note I just got a similar error:

[code]

[2022-05-09 19:33] micahflattbuilt commented on #224
Hitting the same trouble as well.

[2022-05-09 19:34] Tonkonozhenko commented on #224
@andrewsavino1 tried at least 5 times, both on ci and locally and it didn't work, so created the ticket. Now it works on both platforms

[2022-05-09 19:38] micahflattbuilt commented on #224
Working for me as well. I can only assume it was some sort of download issue from the versions location.

[2022-05-09 20:07] fcastagninizoom commented on #224
It stopped working once again...

`Reading required version from constraint: ~> 1.0.0
No version found to match constraint. Follow the README.md instructions for setup. https://github.com/warrensbox/terraform-switcher/blob/master/README.md`

[2022-05-09 20:09] acoppolawb commented on #224
Experiencing the same issue

[2022-05-09 20:23] aderuelle commented on #224
ditto here

[2022-05-09 20:30] vigohe commented on #224
<img width="943" alt="image" src="https://user-images.githubusercontent.com/761298/167492394-34162bec-b906-41d4-a506-7e122188c059.png">

https://status.hashicorp.com/

[code]

[2022-05-09 20:39] aderuelle commented on #224
[		semver = `\/(\d+\.\d+\.\d+)\/`](https://github.com/warrensbox/terraform-switcher/blob/092ccf5400887b7e02e296a8ff507fb2f6f7c4eb/lib/list_versions.go#L33)

[code]

Seems like the links in the release page are now missing the trailing slash in href=

[2022-05-09 20:42] aderuelle commented on #224
workaround

In first terminal

[code]
Then in another terminal

[code]

[2022-05-09 21:07] allen-servedio commented on #224
@aderuelle are you planning on pushing a PR to try to fix this? Not sure if @warrensbox is aware this change broke the tool... But maybe a quick fix can get this operational again?

[2022-05-09 21:10] micahflattbuilt commented on #224
I have a working hack for this. testing it locally then I'll figure out how to make a PR.

[2022-05-09 21:23] micahflattbuilt commented on #224
PR is up: https://github.com/warrensbox/terraform-switcher/pull/225

[2022-05-09 22:06] jensenbox commented on #224
Hashicorp reports the maintenance is now complete. The problem still persists. I suspect the PR might fix this.

[2022-05-09 23:46] yermulnik commented on #224
FYI: https://www.hashicorp.com/blog/announcing-the-hashicorp-releases-api

[2022-05-10 01:55] mantoniocc commented on #224
Hi everyone,
I think that I have a similar problem.
I'm trying to switch some specific terraform versions, however I got the following error:
`The provided terraform version does not exist. Try `tfswitch -l` to see all available versions.`

I tried with two different versions of tfswitch. Initially:
`➜  ~ tfswitch -v

Version: 0.12.1092`

And then I have upgraded to:

`➜  ~ tfswitch -v

Version: 0

[2022-05-10 04:24] moizdhanji commented on #224
ditto ... getting the same error ... it was working fine a few hours back

[2022-05-10 05:41] ArneRiemann4711 commented on #224
Same problem here (;

[2022-05-10 06:20] Akhisar commented on #224
Using the temp version at the moment.

https://github.com/Jukie/terraform-switcher/releases/tag/0.13.12345

[2022-05-10 09:10] parberge commented on #224
I'm also a bit curious in why it needs to get list of releases even when a specific version is provided;

[code]
But I suspect it needs to find the direct download link for the release anyway.

[2022-05-10 09:30] Vladyslav-Miletskyi commented on #224
Works only, when the version is present on the machine!

[code]

As I actually need to download it (inside CI)... decided to go with good old curl

[2022-05-10 09:35] harry-patel-jisc commented on #224
we've gone with a direct version download as a workaround for now (which we'd like to revert as soon as this is fixed)

[code]

[2022-05-10 12:20] sysunix commented on #224
Hi,
we have the same error, a lot of our jobs that are not working , have you planned a fix or a workaround ?
Thanks

[2022-05-10 14:06] Marcel-MTL commented on #224
Look like pull request is in place : [pull request LINK](https://github.com/warrensbox/terraform-switcher/pull/225)

[2022-05-10 14:23] vbakayev commented on #224
I would love this to become a new source of truth, but it provides quite limited subset of versions at the moment:

curl -sS https://api.releases.hashicorp.com/v1/releases/terraform/ | jq -r '.[].version' | sort
1.1.4
1.1.5
1.1.6
1.1.7
1.1.8
1.1.9
1.2.0-alpha-20220328
1.2.0-alpha20220413
1.2.0-beta1
1.2.0-rc1

[2022-05-10 17:00] skyzyx commented on #224
I do have a question about the error message.

I use `~> 1` which is equivalent to `>= 1.0.0, < 2.0.0`, but shorter. It works in Terraform, and has been working in `tfswitch` for quite some time. I feel these instructions in the error message might be incorrect/outdated.

[2022-05-10 17:07] yermulnik commented on #224
@skyzyx

This is unrelated to the issue per se, though JFYI: this is equivalent to `>= 1.0.0` **without** `< 2.0.0` (ref: https://www.terraform.io/language/expressions/version-constraints#-3)

[2022-05-10 17:15] skyzyx commented on #224
Then this might be a bug in `tfswitch` (worthy of a separate ticket). `~> 1.0` would cause `tfswitch` to give me `1.0.x` rather than `1.1.x`.

[2022-05-10 17:22] yermulnik commented on #224
Which version of `tfswitch` do you use?
https://github.com/warrensbox/terraform-switcher/releases/tag/0.13.1218

[2022-05-10 17:23] mengesb commented on #224
@skyzyx that's a different, but yes prevalent issue. It's not following semver whe doing `tfswitch -u 1.0` which should pull `1.1.9` currently.

This is present in 0.13.1218

[2022-05-10 17:38] skyzyx opened #226 "`~> 1.0` should give me the same version as `>= 1.0.0, < 2.0.0` does"
**Is your feature request related to a problem? Please describe.**

(_Branching off from [#224](https://github.com/warrensbox/terraform-switcher/issues/224#issuecomment-1122655220)…_)

I've been observing that using `~> 1.0` with `tfswitch` gives me the latest `1.0.x` release rather than the latest `1.x` release.

[Terraform's docs](https://www.terraform.io/language/expressions/version-constraints

[2022-05-10 17:59] luckeyca commented on #224
This problem still exists as of now. see the test below. curl https://releases.hashicorp.com/terraform works, but tfswitch -l does NOT. So wonder if the output format changed which screwed up the code logic given tfswitch was still working yesterday for me, but not today. I use this daily

[code]

[2022-05-10 19:13] DP19 commented on #224
it shows them all, the default is only 10. Should be relatively easy to implement an interface to use this instead of the current url. Working on a patch at the moment

https://releases.hashicorp.com/docs/api/v1/#operation/getReleasesV1

[2022-05-10 21:00] aderuelle commented on #224
@DP19 did you manage to get the `after` parameter right ? I can't get past the 1.0.10 release here ...

[2022-05-10 21:46] DP19 commented on #224
@aderuelle
Yeah... Their docs aren't quite right. There is a query param for `before` that you should use instead of `after` using the `timestamp_created` as the param entry

[2022-05-10 23:24] llamahunter commented on #226
Isn't this actually https://github.com/warrensbox/terraform-switcher/issues/215, which was fixed in https://github.com/warrensbox/terraform-switcher/releases/tag/0.13.1218

[2022-05-11 03:48] Jukie commented on #224
@aderuelle same here - It seems impossible to get anything older than 20 releases (max limit allowed).

We really need a `before` option or `after` should actually return the most recent release _after_ the given timestamp. Anyone know where that code is hosted?

[2022-05-11 03:52] Jukie commented on #224
For example specifying the timestamp from 0.1.0 will still always return the latest release from last week.
[code]

[2022-05-11 04:56] lutzwillek-tomtom commented on #224
🤔  I wonder if, in the interest of solving the problem quickly, it might not be better to use https://github.com/warrensbox/terraform-switcher/pull/225 to fix this issue - and to open a separate issue for using the new API.

I think a lot of people are using tfswitch in their pipelines, and eventually they don't want to use a local mirror (nice workaround by the way, thanks for it  @aderuelle) and

[2022-05-11 05:38] Jukie commented on #224
Oh yeah I agree, #225 should (imo) be merged in the meantime but I'd still like to figure out the new stuff.

[2022-05-11 05:55] shibir commented on #224
Team anyone working on fix ?

[2022-05-11 09:17] RUBenGAMArrarodRiguEZ-ToMtOm commented on #224
see https://github.com/warrensbox/terraform-switcher/pull/225

[2022-05-11 11:34] devopssankar opened #228 "tfswitch is broken"
tfswitch fails to find terraform version.

Issue:
tfswitch 1.1.5
Cannot get list from mirror: https://releases.hashicorp.com/terraform
The provided terraform version does not exist. Try `tfswitch -l` to see all available versions.

Above version is available curl -sL https://releases.hashicorp.com/terraform | grep 1.1.5

[2022-05-11 12:01] daniel-huesca commented on #228
Apparently, Hashicorp made some changes on their end, so now tfswitch can correctly get the Terraform releases.
Check out https://github.com/warrensbox/terraform-switcher/issues/224

[2022-05-11 12:12] lutzwillek-tomtom commented on #228
Yes, this issue is a duplicate of https://github.com/warrensbox/terraform-switcher/issues/224

[2022-05-11 13:59] bdlake commented on #224
This version does not work for me
[code]
Even tried `tfswitch 0.14.7` thinking the list was still broken, but specifying a specific version doesn't work either.

[2022-05-11 14:36] warrensbox commented on #228
Fixed with release 0.13.1221

[2022-05-11 14:36] #228 closed

[2022-05-11 14:37] warrensbox commented on #224
Fixed with release 0.13.1221

[2022-05-11 14:37] #224 closed

[2022-05-11 14:47] r8or0pz commented on #223
I see, thanks for the info!

[2022-05-11 14:47] #223 closed

[2022-05-11 15:43] lutzwillek-tomtom commented on #224
@warrensbox https://github.com/warrensbox/terraform-switcher/blob/0.13.1221/CHANGELOG.md is not updated?
As it still mentions `[0.13.1201] - 2021-11-28`

[2022-05-11 16:35] warrensbox commented on #226
@skyzyx
The latest terraform version is `1.1.9`
Run show latest: `tfswitch -U`

In my version.tf, I have:
[code]
When I run tfswitch in that directory, I get:
[code]
Which is  `>= 1.0.0, < 2.0.0`

I am using tfswitch Version: 0.13.1221. Can you install the latest tfswitch and try again?

[2022-05-11 17:09] skyzyx commented on #226
OK. It _has_ been an issue. Let me test this and try again.

[2022-05-11 17:50] aderuelle commented on #224
@DP19 @Jukie, is there a github issue about using this API within tfswitch yet ?

[2022-05-11 18:16] Jukie commented on #224
@aderuelle I couldn't find a github repo for it so I opened one [here](https://github.com/hashicorp/terraform/issues/31033) in the terraform repo and also sent them an email.

[2022-05-12 08:18] romanbakaleyko commented on #224
Still doesn't work

==> Upgrading warrensbox/tap/tfswitch
  0.13.1218 -> 0.13.1221

$ tfswitch --version
Version: 0.13.1221

$ tfswitch -l
2022/05/12 11:09:57 [Error] : Getting url: Get "https://releases.hashicorp.com/terraform/": dial tcp: i/o timeout

$ tfswitch -U
2022/05/12 11:15:15 [Error] : Getting url: Get "https://releases.hashicorp.com/terraform/": dial tcp: i/o timeout

[2022-05-12 09:00] yermulnik commented on #224
@romanbakaleyko Does the https://releases.hashicorp.com/terraform/ show up a list of TF releases for you when opened with your preferred web browser?

[2022-05-12 09:30] romanbakaleyko commented on #224
it does work when I open it in browser, it does work when I run it in a docker container (ubuntu 20.04) but it doesn't when I run it in my macos laptop. I removed ~/.terraform.versions/ with a hope that it caches something but that didn't help. Seems to me it either issue with macos version or my local problem.

[2022-05-12 09:55] romanbakaleyko commented on #224
hmm, so from multiple attempts one time it worked fine, so this local problem on my macos, thanks for a response.

[2022-05-15 15:12] Jukie opened #231 "Use new releases API"
#224 was an initial fix after the announcement of [the releases API](https://www.hashicorp.com/blog/announcing-the-hashicorp-releases-api) but the current implementation uses the old (but still supported) releases endpoint.

[2022-05-17 07:49] EvyBongers commented on #212
Yes please 👍🏻

[2022-05-17 09:08] rolandjohann commented on #231
It seems that the old endpoint doesn't work as expected:

[code]

[2022-05-18 00:28] matthewlynden opened #233 "BUG: --show-latest-stable 0.XX does not return expected version"
TFSwitch Version: 0.13.1221
Mac OS 12.4 (M1)

When calling the following:
`tfswitch --show-latest-stable 0.11`

We use to get the latest version of terraform 0.11 returned:
`0.11.15`

With the latest tfswitch updates, we see the following:
`Matched version: 0.15.5
0.15.5`

I expect this is a recent bug with latest changes.

[2022-05-19 00:00] matthewlynden commented on #233
This was the documentation I was going off https://tfswitch.warrensbox.com/Quick-Start/#show-latest-implicit-version-for-stable-releases

Showing the latest stable version of a particular version specified seems to make total sense getting anything else above that doesn't unless that flag has a way to specify an upper limit to not get the absolute latest that I may or may not be prepared to suppor

[2022-05-19 04:55] Jukie commented on #233
The way around this would be to also specify a patch version (i.e. 0.11.0) which currently isn't supported in tfswitch.
I'm with ya that the functionality changed with the PR I linked, but that's in line with how terraform would directly handle it so it makes sense that this project would want to have the same behavior.

[2022-05-19 04:58] Jukie commented on #233
Takeaways for me are to update the docs to reflect the new (corrected) behavior and also add support for more than `x.x` because as-is I don't think you can get what you want.

Cc @yermulnik @warrensbox

[2022-05-19 06:24] matthewlynden commented on #233
That's fair enough. Is there any plan to support specifying the patch version anytime soon?

Worst case, would I be able to revert the tfswitch version to where the original functionality I was relying on still functions or was there upstream changes with Terraform's releases API that would prevent that functionality from continuing to work?

I appreciate your responses.

[2022-05-19 09:18] yermulnik commented on #233
Contributions are very welcome. As it seems like @warrensbox has pretty much little time to pro-actively implement features at the moment.
Maybe @Jukie would be keen to look into this 🤔

I think reverting to that previous version would end up with broken TF binary download =(

[2022-05-19 09:45] matthewlynden commented on #233
Yep, checked a few past versions and they aren't working with that flag either.

So, I've reworked my automation to not rely on this tfswitch flag anymore. It was pretty loose to rely on this but it was ideal at the time. My change will be easier to maintain and won't rely on tfswitch incase anything ever changes again.

[2022-05-19 09:52] yermulnik commented on #233
I don't think things will change again, as since the change @Jukie told about `tfswitch` is aligned with how Terraform compares and parses semantic versions and uses the same Go library for this (which @Jukie PR'ed to the other day as well I guess).

@matthewlynden Should we close this issue by this time?

[2022-05-19 23:47] matthewlynden commented on #233
Yeah I am happy for this to be closed. Thanks!

[2022-05-20 08:25] #233 closed

[2022-05-20 16:38] skyzyx commented on #226
Tested and working. Sorry for the late response. Resolving. Thank you!

[2022-05-20 16:38] #226 closed

[2022-05-24 02:15] #231 closed

[2022-05-24 03:05] Jukie commented on #222
Confirmed bug, PR incoming

[2022-05-24 17:52] Jukie commented on #224
Piggy-backing off this because it had a lot of activity.
Anyone interested in assisting the tfswitch project as a collaborator/maintainer? I'll let @warrensbox add additional info but he's looking for folks to help review PR's. I've already offered my help moving forward but the more the merrier.

[2022-05-24 22:47] warrensbox commented on #222
@rolandjohann we have fixed this. This fix should be in the next release (tentatively May 27, 2022)

[2022-05-25 06:12] rolandjohann commented on #222
@warrensbox thanks a lot!

[2022-05-25 20:22] warrensbox commented on #220
@ElDiabloRojo what happens when you run `tfswitch` in the same directory as the version.tf?

[2022-05-27 19:02] #222 closed

[2022-06-07 17:58] skyzyx opened #248 "Can we get a macOS Universal Binary build?"
Can we get a Universal Binary (possible with the latest GoReleaser) for macOS?

[2022-06-07 18:22] yermulnik commented on #248
Would you like to try and PR please? Contributions are highly appreciated.

[2022-06-19 06:31] zamirTo1 opened #250 "Cannot get list from mirror: https://releases.hashicorp.com/terraform"
`tfswitch -v`
Version: 0.13.1250

`tfswitch -l`
Cannot get list from mirror: https://releases.hashicorp.com/terraform
Use the arrow keys to navigate: ↓ ↑ → ←
? Select Terraform version:
  ▸ 1.1.7 *recent
    1.2.1 *recent
    0.15.4 *recent

[2022-06-19 07:36] amakarov-panw commented on #250
Happens for me as well on v 0.13.1221 & latest - 0.13.1250

[2022-06-19 09:01] BarNehemia commented on #250
same here, it worked yesterday 🤷🏻‍♂️
[code]
Version: 0.13.1250

[code]

[2022-06-19 12:26] chrispruitt commented on #250
Just opened a PR that fixes this. It appears hashicorp has changed their endpoint slightly.

[2022-06-19 19:34] yermulnik commented on #250
@warrensbox @Jukie It looks like Hashicorp keeps changing HTML output occasionally — should we look into releasing 0.14 rather sooner than later to stop `tfswitch` get broken because of HTML changes? 🤔

[2022-06-19 19:38] Jukie commented on #250
My jfrog trial expired so I wasn't able to rework support for mirrors yet. I'd prefer merging a fix for this on 0.13 first while we sort that out.

[2022-06-19 21:48] llamahunter commented on #250
Can verify that PR #251 seems to fix this. Would be nice if hashicorp would stop changing their download URLs.

[2022-06-20 00:46] #250 closed

[2022-06-27 21:38] electricthunder opened #254 "Update golang.org/x/text` and gopkg.in/yaml` version pinning to address CVEs"
There are a number of vulnerabilities in the following go libraries:

[code]

Can we update the versioning pinning and look to pull in the latest versions of the above mentioned?

[2022-06-29 03:28] Jukie commented on #254
Thanks for bringing this up, I'll get them updated.

[2022-07-02 18:58] #254 closed

[2022-07-15 09:20] marcoreni opened #259 "Parse terragrunt.hcl and inherit terraform_version_constraint from parent"
**Is your feature request related to a problem? Please describe.**
We're using terragrunt with a nested moule structure, meaning:
[code]

We have `terragrunt.hcl` in both `stages/{stage}`, to define global parameters, and in `stages/{stage}/{module}`, where we define the specific module variable.

We locked the `terraform_version_constraint` inside `stages/{stage}`. Running `tfswitch` from module

[2022-07-19 14:17] JohnSmith31 opened #260 "Won't install on Raspberry pi: "warrensbox/terraform-switcher crit platform linux/armv7 is not supported.""
Won't install on Raspberry pi: "warrensbox/terraform-switcher crit platform linux/armv7 is not supported."

[2022-07-19 14:58] JohnSmith31 commented on #260
Hi. I installed using the command on the tfswitch web page:

curl -L https://raw.githubusercontent.com/warrensbox/terraform-switcher/release/install.sh | bash

The full output is:

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  9216  100  9216    0     0  19120      0 --:--:-- --:--:

[2022-07-19 15:06] JohnSmith31 commented on #260
(BTW, that's running on a Raspberry Pi 4 on Raspberry Pi OS. uname -a gives:
Linux mel 5.10.17-v7l+ #1403 SMP Mon Feb 22 11:33:35 GMT 2021 armv7l GNU/Linux)

[2022-07-19 18:44] ziggy471 commented on #199
Should be just a 1 line change in lib/install.go:
-       binPath = InstallableBinLocation(binPath)
+       binPath = ConvertExecutableExt(InstallableBinLocation(binPath))

Then to build: GOOS=windows GOARCH=amd64 go build -o tfswitch.exe

Arrow keys won't work, it's an issue with promptui, so when selecting in the list you can use j and k.

[2022-07-19 20:03] yermulnik commented on #260
@JohnSmith31 Would you mind trying `curl -L https://raw.githubusercontent.com/warrensbox/terraform-switcher/feature/add_more_platforms_to_install.sh/install.sh | bash` to see whether https://github.com/warrensbox/terraform-switcher/pull/261 fixes the issue for your platform? Thanks.

[2022-07-19 20:16] yermulnik commented on #199
@ziggy471 Would you mind contributing by opening a PR for these changes?
https://github.com/warrensbox/terraform-switcher#how-to-contribute → https://tfswitch.warrensbox.com/How-to-Contribute/
Thank you.

[2022-07-21 09:23] yermulnik commented on #260
@JohnSmith31 ?

[2022-07-21 10:19] JohnSmith31 commented on #260
That certainly seemed to do the trick! Thanks :)

[2022-07-21 10:43] yermulnik commented on #260
Cool. Thanks for confirmation.
Closing this issue to continue in #261

[2022-07-21 10:43] #260 closed

[2022-07-25 09:34] Tensho commented on #259
Have the same use case. Would be nice to have a hierarchical version switch.

[2022-07-26 02:44] mhnaufal commented on #199
Hi!

I found a workaround for this. Instead of running the normal `tfswitch` command, I use the `-b` flag to specify where I want to install my selected Terraform version (although from what I try, it doesn't have any effect): `tfswitch -b C:\Users\MyUser\Desktop`. Then it will download the Terraform into the `C:\Users\MyUser\.terraform.version`.

After that, tfswitch will try to create a symlink

[2022-07-26 14:25] ziggy471 commented on #199
The fix was a minimal fix to get the correct extension and working arrow keys, for my guys on Windows I've suggested the following in their PS Profile, 7.2 required:
[code]
This allow for PS to check when you change directories if it needs to switch, you could remove the check and just run tfswitch with every cd as well.

[2022-07-27 16:04] hetile-ssense opened #265 "Try previous version on download fail"
**Is your feature request related to a problem? Please describe.**
Not a problem, an improvement in case of failure.
Terraform 1.2.6 just got released but hashicorp's link is not working resulting in a fail when doing something like this:

[code]

**Describe the solution you'd like**
tfswitch trying to get the previous version, maybe with an optional switch

**Additional context**
We use tfswitch

[2022-08-01 04:06] Jukie commented on #265
Why did this particular download fail? I'd rather implement retries of the same version vs falling back.

[2022-08-02 18:52] hetile-ssense commented on #265
It failed because hashicorp's link was 404-ing, retry would not have solved it and it took about 2h for them to fix the download link.

It was also broken on their own website.

Incident:
https://status.hashicorp.com/incidents/1jw0q79c6cd5

[2022-08-02 20:00] yermulnik commented on #265
I'd support what @Jukie said: we should not attempt to workaround Hashicorp's infrastructure malfunction (or any other kind of failures which are not specific to `tfswtich`) as they are external dependency not only for `tfswitch` and are not meant to be in place at all (as in should be fixed asap).
As for CI/CD I'd suggest you to make it more reliable and durable by adopting "repeatable builds" ap

[2022-08-03 14:23] hetile-ssense commented on #265
I would have assumed that using tfswitch with the `--latest-stable`  would not render a un-usable product hence the suggestion to try the previous stable version in these scenario since we're assuming that `--latest-stable` will provide with a usable binary,  and avoid having to build our own logic to validate the `--latest-stable` actually provided a usable binary.

We can add some logic to make

[2022-08-03 16:45] yermulnik commented on #265
1.2.6 was latest stable at that moment and 1.2.5 was one before latest stable. This is important.
It was not available due to the external to `tfswitch` reason, which could had been not just a broken download link on Hashicorp site with releases, but also a network blip, or destination being blocked somewhere in the midway, or a source being blocked on destination, whatever. Falling back to previo

[2022-08-03 16:45] #265 closed

[2022-08-12 09:17] runtman opened #266 "Cannot get list from mirror - Latest Build"
Hey, I have tried using `tfswitch` this morning and got the following error:

[code]

I have upgraded to latest using `tfswitch -u` but the error persists.

Specifying the version manually works fine.

[code]

Versions file

[code]

Any idea?

[2022-08-12 09:39] #266 closed

[2022-08-12 09:39] runtman commented on #266
I was on an old version

[2022-08-23 09:36] thdelattre opened #268 "Running tfswitch returns the error "user: unknown userid""
Hi everyone.

**Is your feature request related to a problem? Please describe.**
When I try to use tfswitch I get the following error:
[code]

**Describe the solution you'd like**
Be able to use tfswitch on my machine ;)

**Describe alternatives you've considered**
In my research I have found these issues that seem to be related:
https://github.com/golang/go/issues/38599
https://github.com/golang/

[2022-09-07 02:21] lauchlan105 commented on #33
For anyone coming to this thread in 2022...

#### This script;
- Works on WSL2 ✔️
- doesn't require `sudo` ✔️
- installs it only for the current user

Note: I chose `~/bin` for `TFSWITCH_DIR` as that is also where `tfswitch` installs  the terraform binaries. And, I've confirmed that changing terraform versions will not result in the `tfswitch` binary being removed.

[code]

If you cannot use `tfsw

[2022-09-07 10:20] krish7919 opened #270 "tfswitch to enable querying current binary install location and list installed binaries"
Recently, in our automated CI, when using a new hardened docker image to test things, I see the log:

[code]

Obviously, `tfswitch` is smart enough to know that it cannot write to `/usr/local/bin/terraform` and then falls back to using the logged in user's `$HOME/bin` directory to create the symlink to the Terraform version.
However, after that it expects a manual run of the command on the console

[2022-09-15 21:37] tpoindessous commented on #219
Hello,

I'm using tfswitch from a brew installation on mac m1 and it works without ~/.tfswitch.toml file.

[2022-09-15 21:51] tpoindessous opened #271 "Add an auto install / auto switch mode like tfenv"
**Is your feature request related to a problem? Please describe.**
Unless I didn't find it, it seems that tfswitch doesn't have an auto install / auto switch mode like tfenv, so the current situation is forcing us to type the tfswitch command to install or switch to the right version.

**Describe the solution you'd like**
I would like to do this :
Current situation
[code]

What I would like :
[cod

[2022-09-15 22:09] yermulnik commented on #271
You only need to run it once **before** any and all TF commands in a particular directory with TF version constraint setup properly.
Or am I getting the request incorrectly?

[2022-09-15 23:20] tpoindessous commented on #271
yes, but adding this command after changing directories is not user-friendly. tfenv does this automatically, and I would like that my cicd scripts work the same way with classical terraform (unique version for all the directory of a project), or with tfenv or tfswitch (different version of terraform for each directory of a project).

Thanks !

[2022-09-16 00:05] yermulnik commented on #271
I do understand your request, though it's more of a "Unix Philosophy of One Tool for One Job" ("one tool doing one job well") from my personal point of view and `tfswitch` can be leveraged like that: https://github.com/warrensbox/terraform-switcher#automation

[2022-09-16 08:13] tpoindessous commented on #271
Hi
I just want to do that

[code]

instead of
[code]

Maybe it's not quite possible, or maybe, you would not alter tfswitch to do this ... tfenv does this, but it doesn't work well and it doesn't have your powerfull detection of last version 😄

Anyways, thanks for your quick answer and thanks for your work.

[2022-09-16 11:52] yermulnik commented on #271
@tpoindessous What `tfenv` actually does is "**substitute**" `terraform` binary by placing `terraform` shell script into user's local bin dir and **prepend** `PATH` with local bin dir path, so when you run `terraform` you actually run a thin `terraform` wrapper which does the thing and executes actual `terraform` binary with args passed by user:
* https://github.com/tfutils/tfenv#manual
* https://

[2022-09-16 11:52] #271 closed

[2022-09-17 08:47] tpoindessous commented on #271
whaou thanks a lot for your answer. Now I understand a little more about tfswitch, thanks for your patience.

You're right, now I will be explicit in my scripts and in my CI than we want tfswitch 👍

Thanks for your work and have a nice weekend !

[2022-09-19 09:49] jvizier opened #272 "Terraform symlink path"
tfswitch -v
Version: 0.13.1288

Hello is there a way to change the default symlink to terraform ?

I install tfswitch globally for multiple users. But tfswitch create the symlink in the home user, i would like to set the symlink path with variable or parameter.

[2022-09-19 10:02] yermulnik commented on #272
I'm not quite sure I do understand the use case, though is this what you're looking for?
https://github.com/warrensbox/terraform-switcher#use-tfswitchtoml-file--for-non-admin---users-with-limited-privilege-on-their-computers
![image](https://user-images.githubusercontent.com/1274789/190994234-19af3635-f578-4249-a724-cc6787e5991e.png)

[2022-09-19 11:55] jvizier commented on #272
Hi @yermulnik ,

I already use the -b option: tfswitch -b /usr/local/env/bin/terraform
in user home dir i have a symlink : ~/.terraform.versions -> /usr/local/env/bin/.terraform.versions
i set chmod 02770 on /usr/local/env/bin/.terraform.versions

It's working but when i use tfswitch the symlink is link to homedir and not to /usr/local/env/bin/.terraform.versions

ex: terraform -> /home/user/.terr

[2022-09-19 12:01] yermulnik commented on #272
Have you considered adding `.tfswitch.toml` with `bin` parameter pointing to `/usr/local/env/bin/terraform` into user's home dir as described at https://github.com/warrensbox/terraform-switcher#use-tfswitchtoml-file--for-non-admin---users-with-limited-privilege-on-their-computers ?

[2022-09-19 13:49] jvizier commented on #272
Yes i test the .tfswitch.toml, same problem.
This change only the bin path and not the link path. It seems the symlink path is hardcoded to the home user dir.

[2022-09-19 14:33] yermulnik commented on #272
[code]
`bin` parameter is where symlink is stored.
Also bear in mind that using system-wide location will switch Terraform version for all users who use this location to lookup `terraform` in the PATH.

[2022-09-19 15:20] jvizier commented on #272
❯ more .tfswitch.toml
bin = "/usr/local/env/bin/terraform"

tfswitch -b /usr/local/env/bin/terraform 0.14.5
Reading configuration from home directory for .tfswitch.toml
Switched terraform to version "0.14.5"

ls -lart /usr/local/env/bin
terraform -> /home/user/.terraform.versions/terraform_0.14.5

so it's not taking the bin path as symlink path

[2022-09-19 15:33] yermulnik commented on #272
Do I get it right that you want system-wide "cache" of downloaded Terraform binaries?
If yes, then the destination is hardcoded to be users's home dir: https://github.com/warrensbox/terraform-switcher/blob/master/lib/install.go#L59-L76

If you indeed want this to be some system-wide path, then either PR is needed to add such an option, or you may try and symlink `/home/<USERNAME>/.terraform.versio

[2022-09-19 15:37] jvizier commented on #272
Hello yes i want a global dir for multiple users.
I already try to symlink in user home but it's not ok between multiple user. I think a Variable to set the symlink is a good way to fix. I will check for the PR, thanks.

[2022-09-20 07:30] jvizier commented on #272
Hum yes you are right if multiple people change the link :/ it's not will be good. In that case juste the download dir must be system wide and the terraform symlink in user home. I will try that. For the download dir a 02770 is ok.

[2022-09-20 14:01] yermulnik commented on #272
It's not actually about changing the symlink per se. Though changing symlink target by someone in between TF run done by another user would probably be the cause of unexpected weirdness and mess. So just add it to the list of cons of this approach.

Should we be fine to close this issue at the moment?

[2022-09-30 14:40] SamyDjemai commented on #175
Hi @warrensbox, do you have any updates regarding the GitHub Action?

[2022-10-03 16:15] elops-od commented on #259
Would be nice to have a hierarchical version switch.

[2022-10-05 10:14] amavlyanov opened #274 "mirror keyword does nothing in .tfswitch.toml"
I was trying to lock tf mirror instead of writing it each time I need to switch terraform version, but the '`mirror`' keyword seem to not workin in `$HOME/.tfswitch.toml` (I was trying the following config):

[code]

Can you please provide us with a clear documentation of what options available via .toml config, and please, add a '`mirror`' keyword there.

[2022-10-11 21:11] warrensbox commented on #274
@amavlyanov
I don't think there's an option in the toml file to add that.
At this time, you need to manually pass from from the command line. For example:
`tfswitch --mirror https://example.jfrog.io/artifactory/hashicorp`

However, I can add this feature (on the toml file) to the next release of tfswitch.

[2022-10-19 08:01] thdelattre commented on #268
You can close the issue. It took me the package manager(nix-env) in fact installs a old (v0.12) version of tfswitch.
Installing with brew solves it.
Sorry about the injustified issue.

[2022-10-19 08:02] #268 closed

[2022-10-31 15:21] sgzijl opened #277 "Installation fails on MacOS Ventura 13.0 / M1"
Hi,

On MacOS Ventura 13.0 / M1, the installation of `tfswitch` fails:

[code]

Following up the provided instructions does not resolve the problem.

// Siert

[2022-10-31 16:08] yermulnik commented on #277
This is an error from `brew` rather than from `tfswitch`. Please search through `homebrew` repo issues to see how to fix this.

[2022-10-31 16:08] #277 closed

[2022-11-30 22:41] JayDoubleu opened #279 "tfswitch should not require sudo by default"
When installing tfswitch when flag --user or --system should either install it as user or as system and allow to provide path where to download it. It should never try to use /usr/local/bin when it's not a system wide installation.